* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.main-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'PTSans';
}

.main-wrapper .container {
  width: 1200px;
}

.main-wrapper .container .about-block {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-wrapper .container .about-block .img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .about-block .img-block {
    width: 100%;
  }
}

.main-wrapper .container .about-block .img-block .long-img {
  width: 55%;
}

.main-wrapper .container .about-block .img-block .two-imgs {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper .container .about-block .img-block .two-imgs .upper {
  height: 63%;
}

.main-wrapper .container .about-block .img-block .two-imgs .down {
  height: 35%;
}

.main-wrapper .container .about-block .text-block {
  background-color: #586f69;
  width: 50%;
  padding: 35px 50px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .about-block .text-block {
    width: 100%;
    margin-top: 5px;
    padding: 20px 10px;
  }
}

.main-wrapper .container .about-block .text-block .title {
  color: white;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 38px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .about-block .text-block .title {
    font-size: 24px;
    line-height: 32px;
  }
}

.main-wrapper .container .about-block .text-block .par {
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-top: 17px;
  text-align: justify;
  font-family: 'PT Serif';
  font-style: italic;
}

.main-wrapper .container .navigation-block {
  width: 100%;
  margin-top: 10px;
}

.main-wrapper .container .navigation-block .navigation__menu {
  width: 100%;
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item {
  height: 40px;
  border-left: 5px solid #ecb157;
  padding-left: 27px;
  padding-right: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item {
    width: 20%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 790px) {
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item {
    width: 33%;
  }
}

@media screen and (max-width: 790px) {
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item {
    width: 50%;
  }
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item:hover {
  background-color: #ecb157;
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item:hover .item__link {
  color: white;
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item .item__link {
  text-decoration: none;
  color: #586f69;
  height: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .container .article__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
}

.main-wrapper .container .article__block .text {
  width: 69%;
  background-color: #f7f7f7;
  padding: 45px 70px 45px 55px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .article__block .text {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block .text {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main-wrapper .container .article__block .text .title {
  color: #ecb157;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 32px;
}

.main-wrapper .container .article__block .text .par {
  color: #586f69;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  text-align: justify;
}

.main-wrapper .container .article__block .img-block {
  width: 30%;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block .img-block {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main-wrapper .container .article__block .img-block img {
  width: 100%;
  height: 100%;
}

.main-wrapper .container .article__block .prons-block {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block .prons-block {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main-wrapper .container .article__block .prons-block .flooring-name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  width: 100%;
}

.main-wrapper .container .article__block .prons-block .flooring-name .flooring-name__text {
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.main-wrapper .container .article__block .prons-block .flooring-name .floor-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.main-wrapper .container .article__block .prons-block .flooring-prons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2px;
  min-height: 45px;
}

.main-wrapper .container .article__block .prons-block .flooring-prons .flooring-prons_img {
  width: 24.5%;
  height: auto;
}

.main-wrapper .container .article__block .prons-block .flooring-prons .flooring-prons_text {
  width: 75%;
  background-color: #586f69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  padding-right: 10px;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 500px) {
  .main-wrapper .container .article__block .prons-block .flooring-prons .flooring-prons_text {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
  }
}

.main-wrapper .container .article__block .prons-block .flooring-prons .flooring-prons_text span {
  text-transform: lowercase;
}

.main-wrapper .container .article__block .prons-block .flooring-prons_big-img {
  padding-top: 3px;
  width: 100%;
}

.main-wrapper .container .requires-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

@media screen and (max-width: 1000px) {
  .main-wrapper .container .requires-block .requires {
    width: 100% !important;
  }
  .main-wrapper .container .requires-block .requires-points {
    width: 100% !important;
    height: auto !important;
  }
  .main-wrapper .container .requires-block .requires-img {
    display: none;
  }
}

.main-wrapper .container .requires-block .requires {
  width: 69%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper .container .requires-block .requires .description {
  background-color: #f7f7f7;
  padding: 45px 70px 45px 55px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .requires-block .requires .description {
    padding: 20px 10px;
  }
}

.main-wrapper .container .requires-block .requires .description .title {
  color: #ecb157;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 32px;
}

.main-wrapper .container .requires-block .requires .description .par {
  color: #586f69;
  font-size: 16px;
  line-height: 24px;
  margin-top: 27px;
  text-align: justify;
}

.main-wrapper .container .requires-block .requires .requires-points {
  background-image: url(../img/articles/child_flooring/Article_child-rez_15.jpg);
  background-position: center;
  background-size: cover;
  padding: 45px 70px 45px 55px;
  height: 340px;
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .requires-block .requires .requires-points {
    padding: 20px 10px;
  }
}

.main-wrapper .container .requires-block .requires .requires-points .points_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.main-wrapper .container .requires-block .requires .requires-points .points_menu .point {
  height: 60px;
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #586f69;
}

@media screen and (max-width: 1000px) {
  .main-wrapper .container .requires-block .requires .requires-points .points_menu .point {
    width: 100%;
  }
}

.main-wrapper .container .requires-block .requires .requires-points .points_menu .point img {
  height: 25px;
  width: 25px;
}

.main-wrapper .container .requires-block .requires .requires-points .points_menu .point span {
  margin-left: 25px;
}

.main-wrapper .container .requires-block .requires-img {
  width: 30%;
  background-image: url(../img/articles/child_flooring/Article_gomogen-geterogen_12.jpg);
  background-position: center;
  background-size: cover;
}

.main-wrapper .container .article__block_knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block_knowledge {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
  }
}

.main-wrapper .container .article__block_knowledge .text {
  width: 69%;
  padding: 65px 95px 50px 165px;
  background-color: #f7f7f7;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block_knowledge .text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 20px 10px;
  }
}

.main-wrapper .container .article__block_knowledge .text .title {
  color: #ecb157;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

.main-wrapper .container .article__block_knowledge .text .title:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 25px;
  background-color: #ecb157;
  left: 0;
  top: 65px;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block_knowledge .text .title:before {
    display: none;
  }
}

.main-wrapper .container .article__block_knowledge .text .par {
  color: #586f69;
  font-size: 16px;
  line-height: 24px;
  margin-top: 22px;
  text-align: justify;
}

.main-wrapper .container .article__block_knowledge .knowledge__img-block {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block_knowledge .knowledge__img-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}

.main-wrapper .container .article__block_knowledge .knowledge__img-block .img-two {
  margin-top: 5px;
}

.main-wrapper .container .separation-line {
  height: 1px;
  width: 100%;
  background-color: #586f69;
  margin: 10px 0;
}

.main-wrapper .container .article__block_variation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block_variation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    width: 100vw;
  }
}

.main-wrapper .container .article__block_variation .text {
  width: 47%;
  background-color: #f7f7f7;
  padding: 45px 70px 45px 55px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .article__block_variation .text {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block_variation .text {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main-wrapper .container .article__block_variation .text .title {
  color: #ecb157;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 32px;
}

.main-wrapper .container .article__block_variation .text .par {
  color: #586f69;
  font-size: 16px;
  line-height: 24px;
  margin-top: 27px;
  text-align: justify;
}

.main-wrapper .container .article__block_variation .img-block {
  width: 30%;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block_variation .img-block {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main-wrapper .container .article__block_variation .img-block img {
  width: 100%;
  height: 100%;
}

.main-wrapper .container .article__block_variation .prons-block {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 700px) {
  .main-wrapper .container .article__block_variation .prons-block {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main-wrapper .container .article__block_variation .prons-block .flooring-prons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 45px;
  margin-top: 5px;
}

.main-wrapper .container .article__block_variation .prons-block .flooring-prons:nth-child(1) {
  margin-top: 0;
}

.main-wrapper .container .article__block_variation .prons-block .flooring-prons .flooring-prons_img {
  width: 41%;
  height: auto;
}

.main-wrapper .container .article__block_variation .prons-block .flooring-prons .flooring-prons_text {
  width: 58%;
  background-color: #586f69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  padding-right: 20px;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 500px) {
  .main-wrapper .container .article__block_variation .prons-block .flooring-prons .flooring-prons_text {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
  }
}

.main-wrapper .container .article__block_variation .prons-block .flooring-prons .flooring-prons_text span {
  text-transform: lowercase;
}

.main-wrapper .container .article__block_variation .prons-block .flooring-prons_big-img {
  padding-top: 3px;
}

.main-wrapper .container .article__block_variation.green .text {
  background-color: #586f69 !important;
}

.main-wrapper .container .article__block_variation.green .text .title {
  color: white;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 32px;
}

.main-wrapper .container .article__block_variation.green .text .par {
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-top: 27px;
  text-align: justify;
}

.main-wrapper .container .comparison-table {
  width: 100%;
  margin-top: 20px;
}

.main-wrapper .container .comparison-table .table-title {
  color: #586f69;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 600px) {
  .main-wrapper .container .comparison-table .table-title {
    padding-left: 10px;
  }
}

.main-wrapper .container .comparison-table .table {
  width: 100%;
  margin-top: 20px;
}

.main-wrapper .container .comparison-table .table .table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .main-wrapper .container .comparison-table .table .table-header {
    display: none;
  }
}

.main-wrapper .container .comparison-table .table .table-header .header-floor {
  height: 80px;
  background-color: #586f69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  width: 47%;
}

.main-wrapper .container .comparison-table .table .table-header .header-pros {
  height: 80px;
  background-color: #92a9a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  width: 25.5%;
}

.main-wrapper .container .comparison-table .table .table-header .header-cons {
  height: 80px;
  background-color: #eccdae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  width: 25.5%;
}

.main-wrapper .container .comparison-table .table .table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 900px) {
  .main-wrapper .container .comparison-table .table .table-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-wrapper .container .comparison-table .table .table-item .flooring {
  width: 47%;
}

.main-wrapper .container .comparison-table .table .table-item .flooring .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: white;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .main-wrapper .container .comparison-table .table .table-item .flooring {
    width: 100%;
    height: 300px;
  }
}

.main-wrapper .container .comparison-table .table .table-item .pros {
  width: 25.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f7f7f7;
  padding: 30px 20px;
}

.main-wrapper .container .comparison-table .table .table-item .pros .par {
  font-size: 16px;
  color: #586f69;
  line-height: 24px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .main-wrapper .container .comparison-table .table .table-item .pros {
    width: 100%;
  }
}

.main-wrapper .container .comparison-table .table .table-item .cons {
  width: 25.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f7ece1;
  padding: 30px 20px;
}

.main-wrapper .container .comparison-table .table .table-item .cons .par {
  font-size: 16px;
  color: #586f69;
  line-height: 24px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .main-wrapper .container .comparison-table .table .table-item .cons {
    width: 100%;
  }
}

.par-link {
  color: #ecb157;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

.par-link:hover {
  opacity: 0.7;
}

.background-img {
  background-color: none;
  background-size: 100% 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.italic {
  font-family: 'PTSerif';
  font-style: italic;
}

.fs18 {
  font-size: 18px !important;
}

.width20 {
  width: 20%;
}

.pl15 {
  padding-left: 15px !important;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .jcc {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #edb056;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}
/*# sourceMappingURL=article_office-flooring.css.map */