@import './variables/variables.scss';

%orange-title {
    color: $orangeColor;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: lighter;
}

%white-title {
    color: white;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: lighter;
}

@mixin par ($color, $style) {
    font-size: 16px;
    color: $color;
    font-style: $style;
    line-height: 24px;
}

body {
    overflow-x: hidden;
}

.section-main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: $myPTSans;
    overflow-x: hidden;

    @media screen and (max-width: 425px) {
        margin-top: -20px;
    }

    // Блок в самом начале страницы: картинка + название страницы. Фоновое изобрашение задается через инлайновый стиль

    .header-block {
        // background-image: url($);
        background-size: 100% 100%;
        height: 300px;
        width: 100vw;
        position: relative;
        justify-content: center;
        display: flex;
        z-index: 150;


        @media screen and (max-width: 820px) {
            background-size: 300% 100%;
        }

        .header-block__content {
            width: 1200px;
            margin: 0 auto;
            position: relative;

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                left: -170px;
            }

            @media screen and (max-width: 1200px) {
                width: 100vw;
                margin: 0 0 0 0;
            }

            .header-block__title {
                height: 75px;
                background-color: #EDB056;
                align-items: center;
                color: white;
                font-size: 36px;
                line-height: 24px;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-left: 40px;
                padding-right: 40px;
                position: absolute;
                bottom: 0;
                left: 0;
                font-family: $myPTSans;
                font-weight: lighter;

                @media screen and (max-width: 550px) {
                    font-size: 24px;
                    width: 100vw;
                    margin-left: 0;
                }

                @media screen and (max-width: 410px) {
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 60px;
                }

                @media screen and (max-width: 410px) {
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 20px;
                }
            }
        }
    }

    .container {
        // контейнер для центровки
        width: 1200px;
        overflow: hidden;

        @media screen and (max-width: 1200px) {
            width: 100vw;
        }

        .intro {
            display: flex;
            justify-content: space-between;
            min-height: 235px;

            @media screen and (max-width: 530px) {
                flex-direction: column;
            }

            .intro__context {
                width: 70%;
                padding: 30px 90px 0 0;

                @media screen and (max-width: 1200px) {
                    padding: 30px 90px 0 10px;
                }

                @media screen and (max-width: 650px) {
                    padding: 30px 10px 0 10px;
                }

                @media screen and (max-width: 530px) {
                    width: 100%;
                }

                .intro__title {
                    @extend %orange-title;
                }

                .intro__par {
                    @include par($darkGreenColor, normal);
                    margin-top: 10px;
                    text-align: justify;
                }
            }

            .intro__content {
                width: 30%;
                border-left: 1px solid $orangeColor;
                border-right: 1px solid $orangeColor;
                position: relative;

                @media screen and (max-width: 530px) {
                    min-height: 200px;
                    width: 100%;
                    border: none;
                    margin-top: 10px;
                }

                .intro__link {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    right: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    flex-direction: column;
                    cursor: pointer;

                    &:hover {
                        .intro__link_par {
                            color: $orangeColor;
                        }

                        .intro__svg {
                            transform: scale(1.05);
                        }
                    }

                    &:active {
                        .intro__svg {
                            transform: scale(0.95);
                        }
                    }

                    .intro__svg {
                        height: 60px;
                        width: 150px;
                        display: block;
                        transition: .3s;
                    }

                    .intro__link_par {
                        @include par($darkGreenColor, normal);
                        padding-top: 30px;
                        transition: .3s;
                        text-align: center;

                        @media screen and (max-width: 530px) {
                            padding-top: 10px;
                        }
                    }
                }
            }
        }

        .termin-state {
            display: flex;
            justify-content: space-between;
            position: relative;

            @media screen and (max-width: 930px) {
                flex-direction: column;
            }

            .link-to-article_full {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                // z-index: 10;
            }

            .link-to-article {
                width: 70%;

                .termin-state__img {
                    width: 100%;
                    height: 100%;
                }

                @media screen and (max-width: 930px) {
                    width: 100%;
                    order: 2;
                }
            }


            .termin-state__content {
                width: 70%;
                background-color: #f7f7f7;
                transition: .3s;
                position: relative;

                &:hover {
                    background-color: $orangeColor;

                    .content__info {
                        .content__title {
                            color: white;
                        }

                        .content__par {
                            color: white;
                        }

                        .content__link {
                            color: white;
                        }
                    }
                }

                @media screen and (max-width: 930px) {
                    order: 2;
                    width: 100%;
                }

                .content__img {
                    width: 100%;
                }

                .content__info {
                    padding: 30px 70px 30px 55px;

                    @media screen and (max-width: 930px) {
                        padding: 20px 10px;
                    }

                    .content__title {
                        @extend %orange-title;
                        transition: .3s;
                    }

                    .content__par {
                        @include par($darkGreenColor, italic);
                        margin-top: 10px;
                        text-align: justify;
                        margin-bottom: 10px;
                        transition: .3s;
                        font-family: 'PTSerif';
                    }

                    .content__link {
                        @include par($orangeColor, normal);
                        transition: .3s;
                        text-decoration: none;

                        &:hover {
                            color: $darkGreenColor;
                        }
                    }
                }

                .link-to-article {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }

            }

            .termin-state__context {
                width: 30%;
                background-color: $darkGreenColor;
                padding: 45px 45px 45px 45px;
                position: relative;
                transition: .3s;

                &:hover {
                    background-color: $orangeColor;

                    .link-to-article {


                        .termin-state__link {
                            @include par(white, normal);
                        }
                    }
                }

                @media screen and (max-width: 930px) {
                    width: 100%;
                    padding: 20px 10px;
                    order: 1;
                }

                .link-to-article {
                    text-decoration: none;

                    &:hover {
                        .termin-state__par {
                            @include par(white, normal);
                        }
                    }

                    .termin-state__title {
                        @extend %white-title;

                        @media screen and (max-width: 930px) {
                            font-size: 24px;
                        }
                    }

                    .termin-state__par {
                        @include par(white, normal);
                        margin-top: 10px;
                        text-align: justify;
                        margin-bottom: 10px;
                    }

                    .termin-state__link {
                        @include par($orangeColor, normal);
                        transition: .3s;
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            color: white;
                        }
                    }
                }


                .articles {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    background-color: $darkGreenColor;
                    width: 0;
                    opacity: 0;
                    transition: .3s;
                    visibility: hidden;
                    overflow-x: hidden;
                    z-index: 1;

                    .articles__block {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        justify-content: space-between;

                        .articles__list {
                            padding: 55px 70px 20px 30px;
                            list-style: none;
                            margin-left: 30px;
                            overflow: auto;

                            .articles__item {
                                text-align: justify;
                                margin-top: 10px;
                                position: relative;

                                &:hover {
                                    .articles__link {
                                        color: $orangeColor;
                                    }
                                }

                                &:before {
                                    content: '';
                                    display: block;
                                    height: 7px;
                                    width: 7px;
                                    background-color: $orangeColor;
                                    position: absolute;
                                    margin-left: -30px;
                                    margin-top: 9px;
                                }

                                .articles__link {
                                    color: white;
                                    font-size: 16px;
                                    font-style: italic;
                                    font-family: $myPTSerif;
                                    text-decoration: none;
                                    transition: .3s;
                                }
                            }
                        }

                        .articles__close_block {
                            display: flex;
                            width: 100%;
                            justify-content: flex-end;

                            &:hover {
                                .articles__close {
                                    color: white;

                                    span {
                                        background-color: white;

                                        &:before {
                                            background-color: white;
                                        }
                                    }
                                }


                            }

                            .articles__close {
                                height: 30px;
                                width: 100px;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                color: $orangeColor;
                                margin-right: 10px;
                                margin-bottom: 10px;
                                transition: .3s;

                                p {
                                    padding-right: 5px;
                                }

                                &:active {
                                    span {
                                        transform: rotate(45deg) scale(0.95);
                                    }
                                }

                                span {
                                    height: 2px;
                                    width: 20px;
                                    background-color: $orangeColor;
                                    position: relative;
                                    display: block;
                                    transform: rotate(45deg);
                                    border-radius: 30px;
                                    transition: .3s;

                                    &:before {
                                        content: '';
                                        display: block;
                                        height: 2px;
                                        width: 20px;
                                        background-color: $orangeColor;
                                        transform: rotate(90deg);
                                        position: absolute;
                                        border-radius: 30px;
                                        transition: .3s;
                                    }
                                }
                            }
                        }

                    }
                }
            }

            .side-menu {
                cursor: pointer;

            }
        }

        .mini-articles {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }


            .mini-articles__item {
                width: 50%;
                display: flex;
                position: relative;
                transition: .3s;

                &:nth-child(1) {
                    &:hover {
                        background-color: $orangeColor;

                        .item__context {
                            .item__title {
                                color: white;
                            }

                            .item__par {
                                color: white;
                            }

                            .item__link {
                                color: white;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    &:hover {
                        .item__context {
                            .podcast {
                                .podcast__list {
                                    visibility: visible;
                                    opacity: 1;
                                }

                                .podcast__hover {
                                    color: $darkGreenColor;
                                }
                            }
                        }
                    }
                }


                .link-to-article_full {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    // z-index: 10;
                }

                @media screen and (max-width: 900px) {
                    width: 100%;
                }

                @media screen and (max-width: 500px) {
                    flex-direction: column;
                }

                &:nth-child(2) {
                    @media screen and (max-width: 500px) {
                        margin-top: 10px;
                    }
                }

                .item__img {
                    width: 40%;

                    @media screen and (max-width: 500px) {
                        order: 1;
                        width: 100%;
                    }
                }

                .item__context {
                    padding: 30px 50px 0px 50px;
                    width: 60%;

                    @media screen and (max-width: 700px) {
                        padding: 20px 10px;
                    }

                    @media screen and (max-width: 500px) {
                        order: 2;
                        width: 100%;
                    }

                    .item__title {
                        @extend %orange-title;
                        transition: .3s;
                    }

                    .item__par {
                        @include par($darkGreenColor, italic);
                        margin-top: 10px;
                        text-align: justify;
                        margin-bottom: 10px;
                        transition: .3s;
                    }

                    .item__link {
                        @include par($orangeColor, normal);
                        transition: .3s;
                        text-decoration: none;
                        transition: .3s;

                        &:hover {
                            color: $darkGreenColor;
                        }
                    }

                    .podcast {
                        display: flex;
                        flex-direction: column;

                        &:hover {
                            .podcast__list {
                                visibility: visible;
                                opacity: 1;
                            }

                            .podcast__hover {
                                color: $darkGreenColor;
                            }
                        }

                        .podcast__hover {
                            @include par($orangeColor, normal);
                            transition: .3s;
                            text-decoration: none;
                            cursor: pointer;
                        }

                        .podcast__list {
                            visibility: hidden;
                            opacity: 0;
                            max-height: 70px;
                            display: flex;
                            width: 100%;
                            justify-content: space-around;
                            margin-top: 5px;
                            background-color: #f7f7f7;
                            padding: 5px;
                            border-radius: 10px;
                            transition: .3s;

                            .podcast__link {
                                height: 35px;
                                width: 35px;
                                cursor: pointer;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    transition: .3s;

                                    &:hover {
                                        transform: scale(1.05);
                                    }

                                    &:active {
                                        transform: scale(0.95);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.hover {
    &:hover {
        background-color: $orangeColor !important;
        transition: .3s !important;
    }
}

.show {
    width: 136% !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 10;

    @media screen and (max-width: 930px) {
        width: 100% !important;
    }
}

.left {
    left: 100% !important;
    border-left: 5px solid $orangeColor;

    @media screen and (max-width: 930px) {
        bottom: 100% !important;
        right: 100% !important;
        left: 0% !important;
        border: none !important;
        border-top: 5px solid $orangeColor !important;
    }
}

.right {
    right: 100% !important;
    border-right: 5px solid $orangeColor;

    @media screen and (max-width: 930px) {
        left: 0 !important;
        bottom: 100% !important;
        border: none !important;
        border-top: 5px solid $orangeColor !important;
    }
}

.mt10 {
    margin-top: 10px;
}

.brr {
    border-right: 5px solid $orangeColor;

    @media screen and (max-width: 930px) {
        border: none !important;
        border-bottom: 5px solid $orangeColor !important;
    }
}

.brl {
    border-left: 5px solid $orangeColor;

    @media screen and (max-width: 930px) {
        border: none !important;
        border-bottom: 5px solid $orangeColor !important;
    }
}

::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0;
    background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #edb056;
}

::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}