* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 0 !important;
  background-color: white;
}

.page__header {
  position: relative;
  top: 0;
  width: 100vw;
  background-image: url(../img/pages-name-imgs/blagotvor/images/catalog-forbo_02.jpg);
  background-size: 100% 100%;
  height: 300px;
  background-repeat: none;
  left: 0;
}

@media screen and (max-width: 500px) {
  .page__header {
    height: 200px;
    background-size: 300% 100%;
    margin-top: -20px;
  }
}

.page__header .page__header-title {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .page__header .page__header-title {
    width: 100%;
  }
}

.page__header .page__header-title .title {
  padding: 30px 40px 30px 40px;
  background-color: #edb056;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  font-family: "PTSans";
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 500px) {
  .page__header .page__header-title .title {
    font-size: 24px;
    padding: 15px 40px 15px 40px;
    width: 100%;
    text-align: center;
  }
}

.main {
  width: 1200px;
  margin: 0 auto;
  font-family: "PTSans";
}

@media screen and (max-width: 1200px) {
  .main {
    width: 100vw;
  }
}

.main .first-block {
  width: 100%;
  margin-top: 30px;
}

.main .first-block .containers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 4fr;
      grid-template-columns: 8fr 4fr;
  grid-column-gap: 30px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .first-block .containers {
    display: -ms-grid;
    -ms-grid-columns: 8fr 4fr;
  }
}

@media screen and (max-width: 1000px) {
  .main .first-block .containers {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .first-block .containers .left-container {
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 1000px) {
  .main .first-block .containers .left-container {
    padding: 0 10px 0 10px;
  }
}

.main .first-block .containers .left-container .title {
  font-size: 24px;
  color: #edb056;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 425px) {
  .main .first-block .containers .left-container .title {
    text-align: center;
  }
}

.main .first-block .containers .left-container .text {
  font-size: 16px;
  color: #586f69;
  line-height: 24px;
  margin-top: 20px;
  line-height: 24px;
}

@media screen and (max-width: 425px) {
  .main .first-block .containers .left-container .text {
    text-align: justify;
  }
}

.main .first-block .containers .right-container {
  background-image: url(../img/pages-name-imgs/blagotvor/images/blagotvor-rez_05.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 190px;
  padding: 50px 40px 50px 40px;
}

.main .first-block .containers .right-container .text {
  line-height: 24px;
  color: #586f69;
  font-size: 16px;
  font-style: italic;
  text-align: justify;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .first-block .containers .right-container {
    -ms-grid-column: 2;
  }
}

.main .second-block {
  font-family: "PTSans";
  margin-top: 15px;
  border-top: 1px solid #91a9a3;
  padding-top: 15px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .main .second-block {
    margin-bottom: 10px;
  }
}

.main .second-block .grid-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 4fr 4fr;
      grid-template-columns: 4fr 4fr 4fr;
  grid-column-gap: 15px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .second-block .grid-section {
    display: -ms-grid;
    -ms-grid-columns: 4fr 4fr 4fr;
  }
}

@media screen and (max-width: 1000px) {
  .main .second-block .grid-section {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    grid-row-gap: 10px;
  }
}

.main .second-block .grid-section .items {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.main .second-block .grid-section .items:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.main .second-block .grid-section .items .rel {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .second-block .grid-section .items:nth-child(1) {
    -ms-grid-column: 1;
  }
  .main .second-block .grid-section .items:nth-child(2) {
    -ms-grid-column: 2;
    margin-left: 15px;
  }
  .main .second-block .grid-section .items:nth-child(3) {
    -ms-grid-column: 3;
    margin-left: 15px;
  }
}

.main .second-block .grid-section .items img {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.main .second-block .grid-section .items:nth-child(1) .item-content {
  background-image: url(../img/pages-name-imgs/blagotvor/images/catalog-pvx-plitka_08-06.jpg);
  background-size: 100% 100%;
}

.main .second-block .grid-section .items:nth-child(2) .item-content {
  background-image: url(../img/pages-name-imgs/blagotvor/images/catalog-pvx-plitka_08-07.jpg);
  background-size: 100% 100%;
}

.main .second-block .grid-section .items:nth-child(3) .item-content {
  background-image: url(../img/pages-name-imgs/blagotvor/images/catalog-pvx-plitka_08-08.jpg);
  background-size: 100% 100%;
}

.main .second-block .grid-section .items .item-content {
  border-top: 7px solid white;
  margin-top: -5px;
  height: 100%;
  padding: 40px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1000px) {
  .main .second-block .grid-section .items .item-content {
    padding: 10px 15px 20px 15px;
  }
}

.main .second-block .grid-section .items .item-content .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
}

.main .second-block .grid-section .items .item-content .text {
  color: white;
  font-size: 16px;
  margin-top: 26px;
  line-height: 24px;
  text-align: justify;
}

.main .third-block {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .main .third-block {
    width: 100vw;
    padding: 0 5px 0 5px;
  }
}

.main .third-block .third-block__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[6];
      grid-template-columns: repeat(6, 2fr);
  grid-column-gap: 15px;
  margin-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 425px) {
  .main .third-block .third-block__content {
    -ms-grid-columns: (6fr)[2];
        grid-template-columns: repeat(2, 6fr);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .third-block .third-block__content {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main .third-block .third-block__content .content-block {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 15px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 400px) {
  .main .third-block .third-block__content .content-block {
    max-width: 150px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main .third-block .third-block__content .content-block {
    width: 190px;
  }
}

.main .third-block .third-block__content .content-block:hover .item-img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .third-block .third-block__content .content-block .href-sert {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.main .third-block .third-block__content .content-block .item-img {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.1);
          box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.1);
  max-width: 190px;
  max-height: 264px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 425px) {
  .main .third-block .third-block__content .content-block .item-img {
    width: 100%;
  }
}

.main .third-block .third-block__content .content-block .otziv-name {
  font-family: "PTSans";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #374436;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #edb056;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

.footer {
  z-index: 150 !important;
}

@media screen and (max-width: 370px) {
  .footer {
    margin-top: 0 !important;
  }
}
/*# sourceMappingURL=blago.css.map */