* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.main-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'PTSans';
}

.main-wrapper .container {
  width: 1200px;
}

.main-wrapper .container .about-block {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-wrapper .container .about-block .img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .about-block .img-block {
    width: 100%;
  }
}

.main-wrapper .container .about-block .img-block .long-img {
  width: 55%;
}

.main-wrapper .container .about-block .img-block .two-imgs {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper .container .about-block .img-block .two-imgs .upper {
  height: 73%;
}

.main-wrapper .container .about-block .img-block .two-imgs .down {
  height: 25%;
}

.main-wrapper .container .about-block .text-block {
  background-color: #586f69;
  width: 54%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .about-block .text-block {
    width: 100%;
    margin-top: 5px;
    padding: 20px 10px;
  }
}

.main-wrapper .container .about-block .text-block .title {
  color: white;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 38px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .about-block .text-block .title {
    font-size: 24px;
    line-height: 32px;
  }
}

.main-wrapper .container .about-block .text-block .par {
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-top: 17px;
  text-align: justify;
  font-family: 'PT Serif';
  font-style: italic;
}

.main-wrapper .container .navigation-block {
  width: 100%;
  margin-top: 10px;
}

.main-wrapper .container .navigation-block .navigation__menu {
  width: 100%;
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item {
  height: 40px;
  border-left: 5px solid #ecb157;
  padding-left: 27px;
  padding-right: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item:nth-child(4) {
  width: 21%;
}

@media screen and (max-width: 1200px) {
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item {
    width: 20%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 790px) {
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item {
    width: 33%;
  }
}

@media screen and (max-width: 790px) {
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item {
    width: 100%;
  }
  .main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item:nth-child(4) {
    width: 100%;
  }
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item:hover {
  background-color: #ecb157;
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item:hover .item__link {
  color: white;
}

.main-wrapper .container .navigation-block .navigation__menu .navigation__list .navigation__item .item__link {
  text-decoration: none;
  color: #586f69;
  height: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .container .article-block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .article-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-wrapper .container .article-block .article__text {
  background-color: #f7f7f7;
  padding: 50px 70px 20px 65px;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .article-block .article__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 20px 10px;
  }
}

.main-wrapper .container .article-block .article__text .article__title {
  color: #ecb157;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 32px;
}

.main-wrapper .container .article-block .article__text .par {
  color: #586f69;
  font-size: 16px;
  line-height: 24px;
  margin-top: 17px;
  text-align: justify;
}

.main-wrapper .container .article-block .article__text .par .par-link {
  color: #ecb157;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-wrapper .container .article-block .article__text .par .par-link:hover {
  opacity: 0.7;
}

.main-wrapper .container .article-block .article__text .par__list {
  margin-top: 17px;
}

.main-wrapper .container .article-block .article__text .par__list .list__item {
  color: #ecb157;
  font-size: 16px;
  line-height: 24px;
  margin-top: 7px;
  text-align: justify;
  position: relative;
  padding-left: 20px;
  line-height: 20px;
}

.main-wrapper .container .article-block .article__text .par__list .list__item:before {
  content: '';
  height: 5px;
  width: 5px;
  background-color: #ecb157;
  position: absolute;
  top: 10px;
  display: block;
  left: 0;
}

.main-wrapper .container .article-block .article__text .par__list .list__item .sub__item {
  color: #586f69;
  font-size: 14px;
  line-height: 14px;
  font-style: italic;
}

.main-wrapper .container .article-block .article__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .article-block .article__images {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.main-wrapper .container .article-block .article__images .imgs {
  width: 100%;
}

.main-wrapper .container .article-block .article__images .imgs:nth-child(2) {
  margin-top: 15px;
}

.main-wrapper .container .article-block .article__images .article__images_title {
  background-color: #d4dad8;
  padding: 30px 50px;
  font-family: 'PTSerif';
  font-size: 18px;
  color: #586f69;
  font-style: italic;
}

.main-wrapper .container .article-block .article__images .images__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .article-block .article__images .images__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-wrapper .container .article-block .green__article {
  background-color: #586f69 !important;
  text-align: center !important;
  color: white !important;
  font-family: 'PTSans' !important;
  font-style: normal !important;
  padding: 20px !important;
}

.main-wrapper .container hr {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  border: none;
  background-color: #586f69;
}

.main-wrapper .container .spheres-block .spheres__title {
  color: #ecb157;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  padding-left: 50px;
  margin: 30px 0;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .spheres-block .spheres__title {
    padding-left: 10px;
  }
}

.main-wrapper .container .spheres-block .spheres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .spheres-block .spheres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-wrapper .container .spheres-block .spheres .spheres__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  min-height: 100px;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .spheres-block .spheres .spheres__item {
    min-height: 0;
    max-height: 90px;
  }
}

.main-wrapper .container .spheres-block .spheres .spheres__item:nth-child(1) {
  margin-top: 0;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .spheres-block .spheres .spheres__item .spheres__icon_bg {
    width: 20% !important;
  }
}

.main-wrapper .container .spheres-block .spheres .spheres__item .spheres__icon_bg .spheres__icon {
  background-color: #ecb157;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main-wrapper .container .spheres-block .spheres .spheres__item .spheres__text {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #586f69;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0px;
  text-align: justify;
  padding: 0 30px;
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .spheres-block .spheres .spheres__item .spheres__text {
    width: 79.5% !important;
  }
}

@media screen and (max-width: 780px) {
  .main-wrapper .container .spheres-block .spheres .spheres__imgs {
    margin-top: 10px;
  }
}

.main-wrapper .container .spheres-block .spheres .spheres__imgs img {
  width: 100%;
  height: 100%;
}

.green {
  background-color: #586f69 !important;
}

.green .article__title {
  color: white !important;
}

.green .par {
  color: white !important;
}

.flex_84-5 {
  width: 84.5%;
}

@media screen and (max-width: 780px) {
  .flex_84-5 {
    width: 100%;
  }
}

.flex_66-5 {
  width: 66.5%;
}

@media screen and (max-width: 780px) {
  .flex_66-5 {
    width: 100%;
  }
}

.flex_54 {
  width: 54%;
}

@media screen and (max-width: 780px) {
  .flex_54 {
    width: 100%;
  }
}

.flex_53 {
  width: 53%;
}

@media screen and (max-width: 780px) {
  .flex_53 {
    width: 100%;
  }
}

.flex_49 {
  width: 49%;
}

@media screen and (max-width: 780px) {
  .flex_49 {
    width: 100%;
  }
}

.flex_45-5 {
  width: 45.5%;
}

@media screen and (max-width: 780px) {
  .flex_45-5 {
    width: 100%;
  }
}

.flex_45 {
  width: 45%;
}

@media screen and (max-width: 780px) {
  .flex_45 {
    width: 100%;
  }
}

.flex_32 {
  width: 32%;
}

@media screen and (max-width: 780px) {
  .flex_32 {
    width: 100%;
  }
}

.flex_15 {
  width: 15%;
}

@media screen and (max-width: 780px) {
  .flex_15 {
    width: 100%;
  }
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #edb056;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}
/*# sourceMappingURL=diff-linol_chip-exp.css.map */