* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PTSans';
}

.main-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.main-wrapper .container {
  width: 1200px;
}

@media screen and (max-width: 1200px) {
  .main-wrapper .container {
    width: 100vw;
  }
}

.main-wrapper .container .first-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 6fr;
      grid-template-columns: 3fr 2fr 6fr;
  grid-column-gap: 15px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .first-block {
    display: -ms-grid;
    grid-columns: 3fr 2fr 6fr;
  }
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .first-block {
    -ms-grid-columns: 3fr 9fr;
        grid-template-columns: 3fr 9fr;
  }
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .first-block {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.main-wrapper .container .first-block .two-row_img {
  background-image: url(../img/pages-name-imgs/biblioteka/commer_lin/Article_gomogen-geterogen_03.jpg);
  background-size: 100% 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .first-block .two-row_img {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .first-block .two-row_img {
    display: none;
  }
}

.main-wrapper .container .first-block .rows_img {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60% 40%;
      grid-template-rows: 60% 40%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .first-block .rows_img {
    -ms-grid-column: 2;
    grid-column: 2;
    display: -ms-grid;
    grid-rows: 60% 40%;
  }
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .first-block .rows_img {
    display: none;
  }
}

.main-wrapper .container .first-block .rows_img .first-row_img {
  background-image: url(../img/pages-name-imgs/biblioteka/commer_lin/Article_gomogen-geterogen_05.jpg);
  background-size: 100% 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .first-block .rows_img .first-row_img {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.main-wrapper .container .first-block .rows_img .second-row_img {
  background-image: url(../img/pages-name-imgs/biblioteka/commer_lin/Article_gomogen-geterogen_08.jpg);
  background-size: 100% 100%;
  margin-top: 15px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .first-block .rows_img .second-row_img {
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.main-wrapper .container .first-block .text-block {
  padding: 34px 50px;
  background-color: #586f69;
  color: white;
  text-align: justify;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .first-block .text-block {
    -ms-grid-column: 3;
    grid-column: 3;
  }
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .first-block .text-block {
    padding: 10px 20px;
    text-align: left;
  }
}

.main-wrapper .container .first-block .text-block .title {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .first-block .text-block .title {
    font-size: 20px;
    line-height: 26px;
  }
}

.main-wrapper .container .first-block .text-block .text {
  font-family: "PTSerif";
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .first-block .text-block .text {
    margin-top: 10px;
  }
}

.main-wrapper .container .second-block {
  position: relative;
  margin: 15px 0 15px 0;
  width: 100%;
}

.main-wrapper .container .second-block .navigation-block {
  width: 100%;
}

.main-wrapper .container .second-block .navigation-block .nav-menu .nav-menu-list {
  display: -webkit-box;
  display: flex;
  list-style: none;
  display: -ms-flexbox;
}

@media screen and (max-width: 850px) {
  .main-wrapper .container .second-block .navigation-block .nav-menu .nav-menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-wrapper .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item {
  height: 40px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 3px solid #edb056;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 850px) {
  .main-wrapper .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5px;
  }
}

.main-wrapper .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item .href-item {
  color: #586f69;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-wrapper .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item:hover {
  background-color: #edb056;
}

.main-wrapper .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item:hover .href-item {
  color: white;
}

.main-wrapper .container .third-block {
  border-bottom: 1px solid #586f69;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.main-wrapper .container .third-block .kinds-linol {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 4fr;
      grid-template-columns: 8fr 4fr;
  grid-column-gap: 15px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .third-block .kinds-linol {
    display: -ms-grid;
    grid-columns: 8fr 4fr;
  }
}

@media screen and (max-width: 1100px) {
  .main-wrapper .container .third-block .kinds-linol {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.main-wrapper .container .third-block .kinds-linol .text-block {
  background-color: #f7f7f7;
  padding: 50px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .third-block .kinds-linol .text-block {
    padding: 10px 20px;
    text-align: left;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .third-block .kinds-linol .text-block {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.main-wrapper .container .third-block .kinds-linol .text-block .title {
  color: #edb056;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .third-block .kinds-linol .text-block .title {
    font-size: 20px;
    line-height: 26px;
  }
}

.main-wrapper .container .third-block .kinds-linol .text-block .text {
  font-size: 16px;
  color: #586f69;
  text-align: justify;
  line-height: 24px;
}

.main-wrapper .container .third-block .kinds-linol .text-block .text .par {
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .third-block .kinds-linol .text-block .text .par {
    margin-top: 10px;
  }
}

.main-wrapper .container .third-block .kinds-linol .img-block {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .third-block .kinds-linol .img-block {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.main-wrapper .container .third-block .kinds-linol .img-block .img-title {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #586f69;
  text-transform: uppercase;
  color: white;
}

.main-wrapper .container .third-block .kinds-linol .img-block .img-title .lowercase-text {
  text-transform: lowercase;
}

.main-wrapper .container .third-block .kinds-linol .img-block .pic {
  width: 100%;
}

.main-wrapper .container .fourth-block {
  width: 100%;
  border-bottom: 1px solid #586f69;
}

.main-wrapper .container .fourth-block .block-title {
  color: #edb056;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.main-wrapper .container .fourth-block .block-table {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: 3fr 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr 3fr;
}

@media screen and (max-width: 1200px) {
  .main-wrapper .container .fourth-block .block-table {
    -ms-grid-columns: 4fr 4fr 4fr;
        grid-template-columns: 4fr 4fr 4fr;
    grid-row-gap: 15px;
  }
}

@media screen and (max-width: 900px) {
  .main-wrapper .container .fourth-block .block-table {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper .container .fourth-block .block-table {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .fourth-block .block-table {
    grid-columns: 3fr 3fr 3fr 3fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .fourth-block .block-table .table-col:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .main-wrapper .container .fourth-block .block-table .table-col:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .main-wrapper .container .fourth-block .block-table .table-col:nth-child(3) {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .main-wrapper .container .fourth-block .block-table .table-col:nth-child(4) {
    -ms-grid-column: 4;
    grid-column: 4;
  }
}

.main-wrapper .container .fourth-block .block-table .table-col .table-row img {
  width: 100%;
}

.main-wrapper .container .fourth-block .block-table .table-col .table-row_title {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #92a9a3;
  padding: 0 10px;
  text-align: center;
}

.main-wrapper .container .fourth-block .block-table .table-col .table-row_char {
  background-color: #f7f7f7;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  color: #586f69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  text-align: center;
}

.main-wrapper .container .fourth-block .attention {
  margin-top: 20px;
  color: #586f69;
  margin-bottom: 20px;
}

.main-wrapper .container .fivth-block {
  margin-top: 20px;
  overflow: hidden;
}

.main-wrapper .container .fivth-block .fivth-block-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 7fr;
      grid-template-columns: 5fr 7fr;
  grid-column-gap: 15px;
}

@media screen and (max-width: 750px) {
  .main-wrapper .container .fivth-block .fivth-block-container {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .fivth-block .fivth-block-container {
    grid-columns: 5fr 7fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .fivth-block .fivth-block-container .uhod-side {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.main-wrapper .container .fivth-block .fivth-block-container .uhod-side img {
  width: 100%;
}

.main-wrapper .container .fivth-block .fivth-block-container .uhod-side .uhod-text {
  height: 100%;
  margin-top: 5px;
  background-color: #586f69;
  color: white;
  padding: 35px 40px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .fivth-block .fivth-block-container .uhod-side .uhod-text {
    padding: 10px 20px;
    text-align: left;
  }
}

.main-wrapper .container .fivth-block .fivth-block-container .uhod-side .uhod-text .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}

.main-wrapper .container .fivth-block .fivth-block-container .uhod-side .uhod-text .text .par {
  margin-top: 22px;
  line-height: 24px;
  font-size: 16px;
  text-align: justify;
}

@media screen and (max-width: 750px) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side {
    margin-top: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-title {
  width: 100%;
  background-color: #91a9a3;
  padding: 10px 110px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-title {
    font-size: 18px;
    padding: 10px 10px;
  }
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  grid-column-gap: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item {
    grid-columns: 3fr 9fr;
  }
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-img {
  background-color: #f7f7f7;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-img {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media screen and (max-width: 500px) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-img .chimia-img {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-img .chimia-title {
  background-color: #91a9a3;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-img .chimia-name {
  font-size: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 20px 0;
  text-align: center;
  color: #edb056;
  text-transform: uppercase;
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-description {
  padding: 25px 50px;
  background-color: #f7f7f7;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-description {
    padding: 10px 20px 10px 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-description {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-description .description-title {
  color: #edb056;
  font-size: 16px;
  text-transform: uppercase;
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-description .description-text {
  margin: 15px 0;
  color: #586f69;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-description .description-text {
    padding: 10px 20px 10px 10px;
  }
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-description .description-dose {
  color: #586f69;
}

.main-wrapper .container .fivth-block .fivth-block-container .instruction-side .instruction-steps .step-item .step-description .description-dose .dose {
  color: #edb056;
  font-size: 16px;
  text-transform: uppercase;
}

.main-wrapper .container .sixth-block {
  margin-top: 20px;
  border-top: 1px solid #586f69;
  padding-top: 20px;
  overflow: hidden;
}

.main-wrapper .container .sixth-block .expensive-uhod {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 7fr;
      grid-template-columns: 5fr 7fr;
  grid-column-gap: 15px;
}

@media screen and (max-width: 1000px) {
  .main-wrapper .container .sixth-block .expensive-uhod {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .sixth-block .expensive-uhod {
    grid-columns: 5fr 7fr;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .text-block {
  height: 100%;
  background-color: #f7f7f7;
  padding: 35px 40px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .sixth-block .expensive-uhod .text-block {
    padding: 10px 20px;
    text-align: left;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .sixth-block .expensive-uhod .text-block {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .text-block .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
  color: #edb056;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .sixth-block .expensive-uhod .text-block .title {
    font-size: 20px;
    line-height: 26px;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .text-block .text .par {
  margin-top: 22px;
  line-height: 24px;
  font-size: 16px;
  text-align: justify;
  color: #586f69;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .sixth-block .expensive-uhod .text-block .text .par {
    margin-top: 10px;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .img-block img {
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .sixth-block .expensive-uhod .img-block {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .img-block .linol-img {
  background-color: #f7f7f7;
  height: 100%;
}

.main-wrapper .container .sixth-block .expensive-uhod .img-block .linol-img img {
  width: 100%;
}

.main-wrapper .container .sixth-block .expensive-uhod .img-block .linol-img .linol-title {
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #586f69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-bottom: 40px;
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  grid-column-gap: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .main-wrapper .container .sixth-block .expensive-uhod .step-item {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .sixth-block .expensive-uhod .step-item {
    grid-columns: 3fr 9fr;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-img {
  background-color: #f7f7f7;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .sixth-block .expensive-uhod .step-item .step-img {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-img .chimia-img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media screen and (max-width: 500px) {
  .main-wrapper .container .sixth-block .expensive-uhod .step-item .step-img .chimia-img {
    height: 300px;
    width: 200px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-img .chimia-title {
  background-color: #91a9a3;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-img .chimia-name {
  font-size: 18px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 20px 0;
  text-align: center;
  color: #edb056;
  text-transform: uppercase;
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-description {
  padding: 25px 50px;
  background-color: #f7f7f7;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .sixth-block .expensive-uhod .step-item .step-description {
    padding: 10px 20px 10px 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-wrapper .container .sixth-block .expensive-uhod .step-item .step-description {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-description .description-title {
  color: #edb056;
  font-size: 16px;
  text-transform: uppercase;
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-description .description-text {
  margin: 15px 0;
  color: #586f69;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  .main-wrapper .container .sixth-block .expensive-uhod .step-item .step-description .description-text {
    padding: 10px 20px 10px 10px;
  }
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-description .description-dose {
  color: #586f69;
}

.main-wrapper .container .sixth-block .expensive-uhod .step-item .step-description .description-dose .dose {
  color: #edb056;
  font-size: 16px;
  text-transform: uppercase;
}

.mt5 {
  margin-top: 5px !important;
}

.mt15 {
  margin-top: 15px;
}

.big {
  height: 105px !important;
}

.orange {
  background-color: #e2a459 !important;
  text-transform: uppercase !important;
}

.light-orange {
  background-color: #fdeedb !important;
  padding-left: 35px !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
/*# sourceMappingURL=diff-geterogen_gomogen.css.map */