@import './variables/variables.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    z-index: 200;
    position: relative;
}

.footer {
    z-index: 200;
}

.section-main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: $myPTSans;

    @media screen and (max-width: 425px) {
        margin-top: -20px;
    }

    // Блок в самом начале страницы: картинка + название страницы. Фоновое изобрашение задается через инлайновый стиль

    .header-block {
        // background-image: url($);
        background-size: 100% 100%;
        height: 300px;
        width: 100vw;
        position: relative;
        justify-content: center;
        display: flex;
        z-index: 150;


        @media screen and (max-width: 820px) {
            background-size: 300% 100%;
        }

        .header-block__content {
            width: 1200px;
            margin: 0 auto;
            position: relative;

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                left: -170px;
            }

            @media screen and (max-width: 1200px) {
                width: 100vw;
                margin: 0 0 0 0;
            }

            .header-block__title {
                height: 75px;
                background-color: #EDB056;
                align-items: center;
                color: white;
                font-size: 30px;
                line-height: 24px;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-left: 40px;
                padding-right: 40px;
                position: absolute;
                bottom: 0;
                left: 0;
                font-family: $myPTSans;
                font-weight: lighter;

                @media screen and (max-width: 550px) {
                    font-size: 24px;
                    width: 100vw;
                    margin-left: 0;
                }

                @media screen and (max-width: 410px) {
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 60px;
                }

                @media screen and (max-width: 410px) {
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 20px;
                }
            }
        }
    }

    .container {
        width: 1200px;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }

        .intro {
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }

            .intro__text {
                padding-top: 25px;
                width: 76%;

                @media screen and (max-width: 1200px) {
                    padding: 15px 0 0 10px;
                }

                @media screen and (max-width: 900px) {
                    order: 2;
                    width: 100%;
                }

                .title {
                    @include title($orangeColor, 20px)
                }

                .par {
                    @include text($darkGreenColor, 16px, 9px, 5px);
                    text-align: justify;
                    padding-right: 55px;

                    @media screen and (max-width: 900px) {
                        padding-right: 10px;
                    }
                }
            }

            .intro__emblem {
                width: 23%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-left: 1px solid #e8e8e8;
                border-right: 1px solid #e8e8e8;
                padding: 15px 0 15px 0;

                @media screen and (max-width: 600px) {
                    order: 1;
                    width: 100%;
                }

                .par {
                    @include text(#586f69, 16px, 15px, 5px);
                    text-align: center;
                    line-height: 18px;
                }
            }
        }

        .two-columns_block {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 900px) {
                flex-direction: column;
                margin-top: 10px;
            }

            .content {
                width: 76%;

                @media screen and (max-width: 900px) {
                    width: 100%;
                    order: 1;
                }

                .blago__history {
                    display: flex;
                    justify-content: space-between;

                    @media screen and (max-width: 990px) {
                        flex-direction: column;
                    }

                    .blago__history-img {
                        width: 29%;

                        @media screen and (max-width: 990px) {
                            width: 100%;
                        }
                    }

                    .blago__history-text {
                        width: 70%;
                        background-image: url(../img/blago/zoo/bg-text.jpg);
                        background-size: cover;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 50px;
                        text-align: justify;

                        @media screen and (max-width: 990px) {
                            width: 100%;
                            padding: 20px 10px;
                        }

                        .par {
                            @include text(white, 16px, 0px, 0px);
                        }
                    }
                }

                .kangaroo__info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 7px;

                    @media screen and (max-width: 900px) {
                        flex-direction: column;
                    }

                    .kangaroo__images {
                        display: flex;
                        width: 50%;
                        flex-wrap: wrap;

                        @media screen and (max-width: 900px) {
                            width: 100%;
                            order: 1;
                        }

                        img {
                            &:nth-child(1) {
                                width: 100%;
                            }

                            &:nth-child(2) {
                                margin-top: 7px;
                                width: 50%;
                            }

                            &:nth-child(3) {
                                margin-top: 7px;
                                width: 50%;
                                padding-left: 7px;
                            }
                        }
                    }

                    .kangaroo__des {
                        width: 50%;
                        padding: 60px 60px 60px 80px;
                        text-align: justify;

                        @media screen and (max-width: 900px) {
                            width: 100%;
                            order: 2;
                            padding: 20px 10px;
                        }

                        .par {
                            @include text($darkGreenColor, 16px, 20px, 10px)
                        }
                    }
                }
            }

            .blago__imgs {
                width: 23%;

                @media screen and (max-width: 900px) {
                    width: 100%;
                    order: 2;
                }

                img {
                    width: 100%;

                    &:nth-child(2) {
                        margin-top: 5px;
                    }
                }
            }
        }

        hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .block-with-pages {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 1000px) {
                flex-direction: column;
            }

            .years {
                width: 5%;

                @media screen and (max-width: 1000px) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                .years__list {
                    width: 100%;
                    list-style: none;

                    @media screen and (max-width: 1000px) {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }

                    .years__item {
                        height: 40px;
                        width: 100%;
                        border-right: 5px solid $darkGreenColor;
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        color: $darkGreenColor;
                        cursor: pointer;
                        transition: .3s;

                        @media screen and (max-width: 1000px) {
                            width: 90px;
                            justify-content: center;
                        }

                        &:hover {
                            background-color: $orangeColor;
                            color: white;
                            padding-left: 10px;
                            border-right: 5px solid $orangeColor;
                        }
                    }

                    .active {
                        color: $orangeColor;
                        border-right: 5px solid $orangeColor;

                        &:hover {
                            color: $orangeColor;
                            border-right: 5px solid $orangeColor;
                            padding-left: 0px;
                            background-color: transparent;
                        }
                    }
                }
            }

            .switch-pages {
                width: 95%;
                position: relative;

                @media screen and (max-width: 1000px) {
                    width: 100%;
                }

                .page {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: .3s;

                    @media screen and (max-width: 1000px) {
                        flex-direction: column;
                        margin-top: 10px;
                    }

                    .page__info {
                        width: 55%;
                        padding: 40px 60px 40px 80px;

                        @media screen and (max-width: 1000px) {
                            width: 100%;
                            padding: 20px 10px;
                        }

                        .title {
                            @include title($darkGreenColor, 18px)
                        }

                        .sub-title {
                            @include text($orangeColor, 16px, 22px, 10px);
                            font-weight: lighter;
                        }

                        .par {
                            @include text($darkGreenColor, 16px, 17px, 10px);
                            text-align: justify;
                        }
                    }

                    .page__photos {
                        width: 45%;
                        position: relative;
                        overflow: hidden;

                        @media screen and (max-width: 1000px) {
                            width: 100%;
                        }

                        .slide-prev {
                            position: absolute;
                            bottom: 20px;
                            left: 20px;
                            height: 30px;
                            width: 18px;
                            transform: rotate(180deg);
                            cursor: pointer;
                            transition: .3s;
                            z-index: 5;

                            &:active {
                                transform: rotate(180deg) scale(0.95);
                            }
                        }

                        .slide-next {
                            position: absolute;
                            bottom: 18px;
                            right: 20px;
                            height: 30px;
                            width: 18px;
                            cursor: pointer;
                            transition: .3s;
                            z-index: 5;

                            &:active {
                                transform: scale(0.95);
                            }
                        }

                        .dots {
                            position: absolute;
                            bottom: 30px;
                            left: 50%;
                            margin-left: -30px;
                            width: 60px;
                            list-style: none;
                            display: flex;
                            justify-content: space-evenly;
                            z-index: 5;
                            transition: .3s;

                            .dots__item {
                                height: 8px;
                                width: 8px;
                                border: 1px solid white;
                                cursor: pointer;
                                border-radius: 50%;
                                transition: .3s;
                            }
                        }

                        .filled {
                            background-color: white;
                        }

                        .slide__img {
                            width: 100%;
                            opacity: 0;
                            transition: .3s;
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            min-height: 100%;
                        }

                        .act {
                            opacity: 1;
                            position: unset;
                        }
                    }
                }

                .show {
                    position: relative;
                    top: 0;
                    left: 0;
                    height: auto;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}