* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

// variables

$cDarkGreen: #586f69;
$cBackground: #f7f7f7;
$cInterface: #ecb157;
$cLightGreen: #92a9a3;
$cLightOrange: #eccdae;
$cBackgroundOrange: #f7ece1;

// mixins

@mixin title ($color, $fz) {
    color: $color;
    font-size: $fz;
    line-height: $fz + 8px;
    text-transform: uppercase;
    font-weight: lighter;
}


@mixin text ($color, $mt) {
    color: $color;
    font-size: 16px;
    line-height: 24px;
    margin-top: $mt;
    text-align: justify;
}

@mixin padding {
    padding: 45px 50px 45px 55px;

    @media screen and (max-width: 800px) {
        padding: 20px 10px;
    }
}

.main-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'PTSans';

    .container {
        width: 1200px;

        .about-block {
            margin-top: 15px;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }

            .img-block {
                display: flex;
                width: 44.5%;
                justify-content: space-between;

                @media screen and (max-width: 800px) {
                    width: 100%;
                }


                @media screen and (max-width: 420px) {
                    max-height: 300px;
                }

                @media screen and (max-width: 370px) {
                    max-height: 200px;
                }

                .long-img {
                    width: 49%;
                }

                .two-imgs {
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .upper {
                        height: 69%;
                    }

                    .down {
                        height: 27%;
                    }
                }
            }

            .text-block {
                background-color: $cDarkGreen;
                width: 54%;
                padding: 35px 50px;

                @media screen and (max-width: 800px) {
                    width: 100%;
                    margin-top: 5px;
                    padding: 20px 10px;
                }

                .title {
                    @include title(white, 30px);
                    line-height: 38px;

                    @media screen and (max-width: 800px) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                }

                .par {
                    @include text(white, 17px);
                    font-family: 'PT Serif';
                    font-style: italic;
                }
            }
        }

        .navigation {
            width: 100%;
            margin: 20px 0;

            .navigation__menu {
                height: 100%;

                .navigation__list {
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;

                    .navigation__item {
                        width: 22%;
                        height: 40px;
                        border-left: 5px solid $cInterface;
                        display: flex;
                        align-items: center;
                        transition: .3s;
                        margin-left: 5px;

                        @media screen and (max-width: 750px) {
                            width: 100%;
                            margin-left: 0;
                            margin-top: 5px;
                        }

                        &:nth-child(1) {
                            margin-left: 0;
                        }

                        &:hover {
                            background-color: $cInterface;

                            .navigation__link {
                                color: white;
                            }
                        }

                        .navigation__link {
                            text-decoration: none;
                            color: $cDarkGreen;
                            padding-left: 50px;
                            text-transform: lowercase;
                            transition: .3s;
                            width: 100%;

                            @media screen and (max-width: 750px) {
                                padding-left: 20px;
                            }
                        }
                    }

                    .navigation__item_19 {
                        width: 19.5%;
                        height: 40px;
                        border-left: 5px solid $cInterface;
                        display: flex;
                        align-items: center;
                        transition: .3s;
                        margin-left: 5px;

                        @media screen and (max-width: 750px) {
                            width: 100%;
                            margin-left: 0;
                            margin-top: 5px;
                        }

                        &:nth-child(1) {
                            margin-left: 0;
                        }

                        &:hover {
                            background-color: $cInterface;

                            .navigation__link {
                                color: white;
                            }
                        }

                        .navigation__link {
                            text-decoration: none;
                            color: $cDarkGreen;
                            padding-left: 30px;
                            text-transform: lowercase;
                            transition: .3s;
                            width: 100%;

                            @media screen and (max-width: 750px) {
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }
        }

        .flex-two-columns {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }

            .first-column {
                width: 67%;
                background-color: $cBackground;
                @include padding();
                margin-right: 17px;

                @media screen and (max-width: 800px) {
                    width: 100%;
                    order: 2;
                }

                .title {
                    @include title($cInterface, 24px);
                }

                .par {
                    @include text($cDarkGreen, 15px);
                }
            }

            .second-column {
                width: 33%;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    .order__img {
                        transform: scale(1.03);
                    }
                }

                @media screen and (max-width: 800px) {
                    width: 100%;
                    order: 1;
                }

                .order__img {
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                }

                .block-top-icon {
                    position: absolute;
                    background-color: #edb056;
                    height: 75px;
                    width: 75px;
                    border-radius: 50px;
                    right: 0 !important;
                    top: 0;
                    transform: translate(30%, -30%);

                    span {
                        width: 30px;
                        height: 2px;
                        background-color: white;
                        display: block;
                        margin-top: 45px;
                        margin-left: 15px;

                        &:after {
                            content: "";
                            display: block;
                            width: 30px;
                            height: 2px;
                            background-color: white;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        .flex-two-columns_green {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }

            .first-column {
                width: 44.5%;
                background-color: $cDarkGreen;
                @include padding();
                // margin-right: 5px;

                @media screen and (max-width: 800px) {
                    order: 2;
                }

                .title {
                    @include title(white, 24px);
                }

                .par {
                    @include text(white, 15px);
                }
            }

            .second-column {
                width: 54%;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                &:hover {
                    .order__img {
                        transform: scale(1.03);
                    }
                }

                @media screen and (max-width: 800px) {
                    order: 1;
                }

                .order__img {
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                }

                .block-top-icon {
                    position: absolute;
                    background-color: #edb056;
                    height: 75px;
                    width: 75px;
                    border-radius: 50px;
                    right: 0 !important;
                    top: 0;
                    transform: translate(30%, -30%);

                    span {
                        width: 30px;
                        height: 2px;
                        background-color: white;
                        display: block;
                        margin-top: 45px;
                        margin-left: 15px;

                        &:after {
                            content: "";
                            display: block;
                            width: 30px;
                            height: 2px;
                            background-color: white;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        .flex-three-columns {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            margin-top: 5px;

            .column {
                margin-top: 10px;
                width: 32.5%;
                background-size: cover;
                background-repeat: no-repeat;

                @media screen and (max-width: 900px) {
                    width: 100%;
                    margin-top: 10px;
                    min-height: 200px;

                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        display: none;
                    }
                }

                &:nth-child(4) {
                    background-image: url(../img/articles/ykladka_razmetka/clean1.jpg);
                }

                &:nth-child(5) {
                    background-image: url(../img/articles/ykladka_razmetka/dry1.jpg);
                }

                &:nth-child(6) {
                    background-image: url(../img/articles/ykladka_razmetka/defekt1.jpg);
                }

                .column__img {
                    width: 100%;
                }

                .column__title {
                    @include title(white, 24px)
                }

                .column__par {
                    @include text(white, 15px);
                }
            }

            .pad {
                @include padding();
            }
        }

        hr {
            border: none;
            background-color: $cDarkGreen;
            height: 1px;
            margin: 15px 0;
            width: 100%;
        }

        .flex-four-blocks {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 15px;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }

            .text-block {
                @include padding();
                background-color: $cDarkGreen;
                width: 44.5%;

                @media screen and (max-width: 900px) {
                    width: 100%;
                }

                .block__title {
                    @include title(white, 24px)
                }

                .block__info {
                    .par {
                        @include text(white, 22px);
                        text-align: justify;
                    }

                    .par__list {
                        list-style: none;

                        .list__item {
                            display: flex;
                            @include text(white, 22px);
                            align-items: center;

                            &:before {
                                content: '';
                                display: block;
                                height: 5px;
                                width: 5px;
                                background-color: white;
                                margin-top: 3px;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }

            .product-block {
                width: 54%;
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 900px) {
                    width: 100%;
                    margin-top: 15px;
                }

                .block__img {
                    width: 100%;
                }

                .product {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 17px;

                    @media screen and (max-width: 900px) {
                        flex-direction: column;
                    }


                    .product__container {
                        width: 37%;
                        background-color: $cBackground;
                        padding: 30px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        &:hover {
                            transform: translate(3px, -3px);
                            box-shadow: -5px 5px 11px -9px #000000;
                        }

                        @media screen and (max-width: 900px) {
                            width: 100%;
                        }

                        .title {
                            @include title($cInterface, 20px);
                            text-align: center;
                        }

                        .product__img {
                            margin-top: 30px;
                        }

                        .product__sub {
                            @include text($cDarkGreen, -5px);
                            text-align: center;
                        }
                    }

                    .product__container_two {
                        width: 48.5%;
                        background-color: $cBackground;
                        padding: 30px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: .3s;
                        cursor: pointer;

                        &:hover {
                            transform: translate(3px, -3px);
                            box-shadow: -5px 5px 11px -9px #000000;
                        }

                        @media screen and (max-width: 900px) {
                            width: 100%;
                        }

                        .title {
                            @include title($cInterface, 20px);
                            text-align: center;
                            transition: .3s;
                        }

                        .product__img {
                            margin-top: 30px;
                        }

                        .product__sub {
                            @include text($cDarkGreen, -5px);
                            text-align: center;
                            transition: .3s;
                        }
                    }

                    .product__info {
                        width: 60.5%;
                        background-color: $cBackground;
                        @include padding();

                        @media screen and (max-width: 900px) {
                            width: 100%;
                        }

                        .sub__title {
                            @include title($cInterface, 16px);
                        }

                        .par {
                            @include text($cDarkGreen, 15px);
                        }
                    }
                }
            }
        }
    }
}

.form-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    margin-top: 100px;
    pointer-events: none;
    z-index: 0;
    transition: .3s;

    .form-block {
        height: 600px;
        width: 30%;
        box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
        position: relative;
        font-family: 'PT Sans';
        background-color: white;

        @media screen and (max-width: 950px) {
            height: 80vh;
            width: 50vw;
        }

        @media screen and (max-width: 650px) {
            height: 100vh;
            width: 100vw;
            top: 0;
        }

        .close-form_btn {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                span {
                    transform: rotate(135deg);
                }
            }

            &:active {
                span {
                    transform: rotate(135deg) scale(0.9);
                }
            }

            span {
                background-color: white;
                height: 2px;
                width: 30px;
                position: relative;
                transform: rotate(45deg);
                border-radius: 5px;
                transition: .3s;

                &:before {
                    content: '';
                    display: flex;
                    position: absolute;
                    background-color: white;
                    height: 2px;
                    width: 30px;
                    transform: rotate(90deg);
                    border-radius: 5px;
                }
            }
        }

        .form__title {
            color: white;
            background-color: $cInterface;
            width: 100%;
            padding: 20px 0px;
            text-align: center;
            text-transform: uppercase;
            font-size: 24px;
            box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
        }

        .form {
            display: flex;
            flex-direction: column;
            padding: 20px 30px;
            position: relative;
            height: 100%;

            .form-label {
                color: $cDarkGreen;
                font-size: 16px;
                margin-bottom: 5px;
                margin-top: 20px;
            }

            input {
                padding: 5px 10px;
                border: none;
                border-bottom: 1px solid #a8a8a8;
                color: $cDarkGreen;
                outline: none;
                transition: .3s;
            }

            textarea {
                border: 1px solid #a8a8a8;
                border-radius: 5px;
                outline: none;
                padding: 10px;
            }

            .submit-btn {
                position: absolute;
                bottom: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                // padding: 30px;
                left: 0;
                background-color: $cInterface;
                color: white;
                box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
                font-size: 20px;
                cursor: pointer;
                transition: .3s;
                -webkit-appearance: none;
                border-radius: 0;

                &:hover {
                    filter: brightness(105%);
                }

                @media screen and (max-width: 600px) {
                    position: fixed;
                    bottom: 0;

                    &:hover {
                        filter: brightness(100%);
                    }

                }
            }
        }
    }
}

.show-form {
    margin-top: 0px !important;
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: all !important;
    z-index: 999999;
}

::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0;
    background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #edb056;
}

::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}