* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  z-index: 200;
  position: relative;
}

.section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "PTSans";
}

@media screen and (max-width: 425px) {
  .section-main {
    margin-top: -20px;
  }
}

.section-main .header-block {
  background-size: 100% 100%;
  height: 300px;
  width: 100vw;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 150;
}

@media screen and (max-width: 820px) {
  .section-main .header-block {
    background-size: 300% 100%;
  }
}

.section-main .header-block .header-block__content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section-main .header-block .header-block__content {
    left: -170px;
  }
}

@media screen and (max-width: 1200px) {
  .section-main .header-block .header-block__content {
    width: 100vw;
    margin: 0 0 0 0;
  }
}

.section-main .header-block .header-block__content .header-block__title {
  height: 75px;
  background-color: #EDB056;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "PTSans";
  font-weight: lighter;
}

@media screen and (max-width: 550px) {
  .section-main .header-block .header-block__content .header-block__title {
    font-size: 24px;
    width: 100vw;
    margin-left: 0;
  }
}

@media screen and (max-width: 410px) {
  .section-main .header-block .header-block__content .header-block__title {
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
  }
}

@media screen and (max-width: 410px) {
  .section-main .header-block .header-block__content .header-block__title {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
  }
}

.section-main .container {
  width: 1200px;
}

@media screen and (max-width: 1200px) {
  .section-main .container {
    width: 100vw;
  }
}

.section-main .container .page-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 850px) {
  .section-main .container .page-title-block {
    padding: 0 10px;
  }
}

@media screen and (max-width: 850px) {
  .section-main .container .page-title-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-main .container .page-title-block .page-title-block__content {
  margin-top: 30px;
}

@media screen and (max-width: 850px) {
  .section-main .container .page-title-block .page-title-block__content {
    width: 100%;
  }
}

.section-main .container .page-title-block .page-title-block__content .page-title-block__title {
  font-size: 24px;
  color: #edb056;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 24px;
}

.section-main .container .page-title-block .page-title-block__content .page-title-block__text {
  font-size: 16px;
  line-height: 24px;
  color: #586f69;
  margin-top: 12px;
  text-align: justify;
  padding-right: 45px;
}

@media screen and (max-width: 850px) {
  .section-main .container .page-title-block .page-title-block__content .page-title-block__text {
    padding-right: 0;
  }
}

.section-main .container .page-title-block .page-title-block__content .page-title-block__text .orange-font {
  color: #edb056;
}

.section-main .container .page-title-block .navigation {
  margin-top: 10px;
}

@media screen and (max-width: 850px) {
  .section-main .container .page-title-block .navigation {
    width: 100%;
  }
}

.section-main .container .page-title-block .navigation .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.section-main .container .page-title-block .navigation .navigation__menu .navigation__item {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: left;
          transform-origin: left;
  position: relative;
  margin-top: 15px;
}

.section-main .container .page-title-block .navigation .navigation__menu .navigation__item:hover .navigation__link {
  color: white;
}

.section-main .container .page-title-block .navigation .navigation__menu .navigation__item:hover .navigation__link:before {
  width: 100%;
}

.section-main .container .page-title-block .navigation .navigation__menu .navigation__item .navigation__link {
  padding-left: 15px;
  color: #586f69;
  font-size: 16px;
  text-decoration: none;
  z-index: 5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-main .container .page-title-block .navigation .navigation__menu .navigation__item .navigation__link:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #edb056;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

@media screen and (max-width: 370px) {
  .section-main .container .page-title-block .navigation .navigation__menu .navigation__item .navigation__link {
    padding-left: 10px;
  }
}

.section-main .container .price-wrapper {
  width: 100%;
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid #586f69;
  padding-bottom: 15px;
}

.section-main .container .price-wrapper .price__city {
  width: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
}

.section-main .container .price-wrapper .price__city .price__city_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .price__city .price__city_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-main .container .price-wrapper .price__city .price__city_row .row__img {
  width: 49%;
  margin-top: 3px;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .price__city .price__city_row .row__img {
    width: 100%;
  }
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table {
  width: 49%;
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .price__city .price__city_row .row__table {
    width: 100%;
  }
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .table__navigation {
  width: 100%;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .table__navigation .table__navigation_list .table__navigation_item {
  background-color: #f7f7f7;
  color: #586f69;
  text-align: center;
  padding: 8px 0;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .table__navigation .table__navigation_list .table__navigation_item:hover {
  background-color: #edb056;
  opacity: 0.7;
  color: white;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .table__navigation .table__navigation_list .item_active {
  background-color: #edb056;
  color: white;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .table__navigation .table__navigation_list .item_active:hover {
  background-color: #edb056;
  opacity: 1;
  color: white;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table {
  width: 100%;
  border-spacing: 0px 5px;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table thead {
  width: 100%;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table thead tr {
  width: 100%;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table thead tr th {
  padding: 20px 70px;
  background-color: #f7f7f7;
  font-weight: lighter;
  color: #edb056;
  text-transform: uppercase;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table thead tr th {
    font-size: 16px;
    padding: 20px 20px;
  }
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody {
  background-color: #f7f7f7;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody tr {
  background-color: #f7f7f7;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody tr td {
  padding: 15px 0;
  color: #586f69;
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody tr td:nth-child(1) {
  padding-left: 40px;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody tr td:nth-child(1) {
    padding-left: 20px;
  }
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody tr td:nth-child(2) {
  font-size: 24px;
  padding-left: 40px;
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody tr td:nth-child(2) {
    font-size: 20px;
    padding-left: 20px;
  }
}

.section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody tr td:nth-child(2) span {
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .price__city .price__city_row .row__table .price-table tbody tr td:nth-child(2) span {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .price__city .price__city_row.mtm5 .row__img {
    display: none;
  }
}

.section-main .container .price-wrapper .articles-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .section-main .container .price-wrapper .articles-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-main .container .price-wrapper .articles-link .link-to-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #586f69;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 16px;
  line-height: 16px;
  margin-top: 25px;
}

@media screen and (max-width: 1200px) {
  .section-main .container .price-wrapper .articles-link .link-to-photo {
    padding: 0 10px;
  }
}

.section-main .container .price-wrapper .articles-link .link-to-photo:hover {
  color: #edb056;
}

.section-main .container .price-wrapper .articles-link .link-to-photo:hover .arrow-photo {
  margin-left: 30px;
}

.section-main .container .price-wrapper .articles-link .link-to-photo .arrow-photo {
  margin-left: 20px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .3s;
  transition: .3s;
}

.section-main .container .workers-certificate {
  margin-top: 35px;
}

.section-main .container .workers-certificate .workers-certificate_title {
  font-size: 24px;
  color: #586f69;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 1200px) {
  .section-main .container .workers-certificate .workers-certificate_title {
    padding: 0 10px;
  }
}

.section-main .container .workers-certificate .showAll-sertificat {
  font-style: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #586f69;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.section-main .container .workers-certificate .showAll-sertificat:hover {
  color: #edb056;
}

.section-main .container .workers-certificate .certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .section-main .container .workers-certificate .certificates {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.section-main .container .workers-certificate .certificates .sertificat-img {
  width: 24%;
  -webkit-box-shadow: 3px 2px 8px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 2px 8px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  max-height: 400px;
}

@media screen and (max-width: 600px) {
  .section-main .container .workers-certificate .certificates .sertificat-img {
    max-height: 300px;
  }
}

.section-main .container .workers-certificate .certificates .sertificat-img:hover {
  -webkit-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
  -webkit-box-shadow: 3px 2px 16px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 2px 16px -4px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 600px) {
  .section-main .container .workers-certificate .certificates .sertificat-img {
    width: 47%;
    margin-top: 10px;
  }
}

.overflow-hide {
  overflow: hidden !important;
}

.popUp {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  top: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.popUp .popUp__container {
  height: 100%;
  width: 80%;
  background-color: white;
  overflow: scroll;
  position: relative;
}

@media screen and (max-width: 780px) {
  .popUp .popUp__container {
    width: 100%;
  }
}

.popUp .popUp__container .container__title {
  height: 70px;
  background-color: #edb056;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'PT Sans';
  font-weight: lighter;
}

@media screen and (max-width: 500px) {
  .popUp .popUp__container .container__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 370px) {
  .popUp .popUp__container .container__title {
    padding: 0 50px;
  }
}

.popUp .popUp__container .close-form_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popUp .popUp__container .close-form_btn:hover span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.popUp .popUp__container .close-form_btn:active span {
  -webkit-transform: rotate(135deg) scale(0.9);
          transform: rotate(135deg) scale(0.9);
}

.popUp .popUp__container .close-form_btn span {
  background-color: white;
  height: 2px;
  width: 30px;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.popUp .popUp__container .close-form_btn span:before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: white;
  height: 2px;
  width: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 5px;
}

.popUp .popUp__container .container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

@media screen and (max-width: 780px) {
  .popUp .popUp__container .container__list {
    padding: 5px;
  }
}

.popUp .popUp__container .container__list .container__img {
  width: 32.5%;
  margin-top: 10px;
  height: auto;
}

@media screen and (max-width: 780px) {
  .popUp .popUp__container .container__list .container__img {
    width: 49%;
  }
}

@media screen and (max-width: 500px) {
  .popUp .popUp__container .container__list .container__img {
    width: 100%;
  }
}

.popUp_act {
  visibility: visible;
  opacity: 1;
  z-index: 100000;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  margin-top: 100px;
  pointer-events: none;
  z-index: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.form-container .form-block {
  height: 600px;
  width: 30%;
  -webkit-box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  font-family: "PTSans";
  background-color: white;
}

@media screen and (max-width: 950px) {
  .form-container .form-block {
    height: 80vh;
    width: 50vw;
  }
}

@media screen and (max-width: 650px) {
  .form-container .form-block {
    height: 100vh;
    width: 100vw;
    top: 0;
  }
}

.form-container .form-block .close-form_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.form-container .form-block .close-form_btn:hover span {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.form-container .form-block .close-form_btn:active span {
  -webkit-transform: rotate(135deg) scale(0.9);
          transform: rotate(135deg) scale(0.9);
}

.form-container .form-block .close-form_btn span {
  background-color: white;
  height: 2px;
  width: 30px;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.form-container .form-block .close-form_btn span:before {
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: white;
  height: 2px;
  width: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 5px;
}

.form-container .form-block .form__title {
  color: white;
  background-color: #edb056;
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  -webkit-box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.form-container .form-block .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px;
  position: relative;
  height: 100%;
}

.form-container .form-block .form .form-label {
  color: #586f69;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.form-container .form-block .form input {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid #a8a8a8;
  color: #586f69;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.form-container .form-block .form textarea {
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

.form-container .form-block .form .submit-btn {
  position: absolute;
  bottom: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  left: 0;
  background-color: #edb056;
  color: white;
  -webkit-box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-appearance: none;
  border-radius: 0;
}

.form-container .form-block .form .submit-btn:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
}

@media screen and (max-width: 600px) {
  .form-container .form-block .form .submit-btn {
    position: fixed;
    bottom: 0;
  }
  .form-container .form-block .form .submit-btn:hover {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.show-form {
  margin-top: 0px !important;
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: all !important;
  z-index: 999999;
}

@media screen and (max-width: 800px) {
  .mob-hide {
    display: none !important;
  }
}

.hide {
  visibility: hidden !important;
  opacity: 0 !important;
  position: absolute !important;
  -webkit-transition: .3s;
  transition: .3s;
  top: -20px !important;
  pointer-events: none;
}

.flex_100-per {
  width: 100%;
}

.flex_80-per {
  width: 80%;
}

.flex_78-per {
  width: 78%;
}

.flex_77-per {
  width: 77%;
}

.flex_75-per {
  width: 75%;
}

.flex_70-per {
  width: 70%;
}

.flex_60-per {
  width: 60%;
}

.flex_50-per {
  width: 50%;
}

.flex_49-3-per {
  width: 49.3%;
}

.flex_49-per {
  width: 49%;
}

.flex_48-per {
  width: 48%;
}

.flex_40-per {
  width: 40%;
}

.flex_33-per {
  width: 33%;
}

.flex_32-per {
  width: 32%;
}

.flex_30-per {
  width: 30%;
}

.flex_25-per {
  width: 25%;
}

.flex_24-per {
  width: 24%;
}

.flex_23-per {
  width: 23%;
}

.flex_22-per {
  width: 22%;
}

.flex_20-per {
  width: 20%;
}

.mtm5 {
  margin-top: -5px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.p25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.p35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.p100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

@media screen and (max-width: 800px) {
  .p100 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #edb056;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}
/*# sourceMappingURL=price.css.map */