@import './variables/variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    z-index: 200;
    position: relative;
}

.section-main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: $myPTSans;

    @media screen and (max-width: 425px) {
        margin-top: -20px;
    }

    // Блок в самом начале страницы: картинка + название страницы. Фоновое изобрашение задается через инлайновый стиль

    .header-block {
        // background-image: url($);
        background-size: 100% 100%;
        height: 300px;
        width: 100vw;
        position: relative;
        justify-content: center;
        display: flex;
        z-index: 150;


        @media screen and (max-width: 820px) {
            background-size: 300% 100%;
        }

        .header-block__content {
            width: 1200px;
            margin: 0 auto;
            position: relative;

            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
                left: -170px;
            }

            @media screen and (max-width: 1200px) {
                width: 100vw;
                margin: 0 0 0 0;
            }

            .header-block__title {
                height: 75px;
                background-color: #EDB056;
                align-items: center;
                color: white;
                font-size: 36px;
                line-height: 24px;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                padding-left: 40px;
                padding-right: 40px;
                position: absolute;
                bottom: 0;
                left: 0;
                font-family: $myPTSans;
                font-weight: lighter;

                @media screen and (max-width: 550px) {
                    font-size: 24px;
                    width: 100vw;
                    margin-left: 0;
                }

                @media screen and (max-width: 410px) {
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 60px;
                }

                @media screen and (max-width: 410px) {
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 20px;
                }
            }
        }
    }

    .container {
        // контейнер для центровки
        width: 1200px;

        @media screen and (max-width: 1200px) {
            width: 100vw;
        }

        .page-title-block {
            display: flex;

            @media screen and (max-width: 850px) {
                padding: 0 10px;
            }

            @media screen and (max-width: 850px) {
                flex-direction: column;
            }

            .page-title-block__content {
                margin-top: 30px;

                @media screen and (max-width: 850px) {
                    width: 100%;
                }

                .page-title-block__title {
                    font-size: 24px;
                    color: $orangeColor;
                    text-transform: uppercase;
                    font-weight: lighter;
                    line-height: 24px;
                }

                .page-title-block__text {
                    font-size: 16px;
                    line-height: 24px;
                    color: $darkGreenColor;
                    margin-top: 12px;
                    text-align: justify;
                    padding-right: 45px;

                    @media screen and (max-width: 850px) {
                        padding-right: 0;
                    }

                    .orange-font {
                        color: $orangeColor;
                    }
                }
            }

            .navigation {
                margin-top: 10px;

                @media screen and (max-width: 850px) {
                    width: 100%;
                }

                .navigation__menu {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;

                    .navigation__item {
                        height: 40px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        transition: 0.3s;
                        transform-origin: left;
                        position: relative;
                        margin-top: 15px;

                        &:hover {
                            .navigation__link {
                                color: white;

                                &:before {
                                    width: 100%;
                                }
                            }
                        }

                        .navigation__link {
                            padding-left: 15px;
                            color: $darkGreenColor;
                            font-size: 16px;
                            text-decoration: none;
                            z-index: 5;
                            width: 100%;
                            display: flex;
                            transition: 0.3s;

                            &:before {
                                content: "";
                                position: absolute;
                                height: 100%;
                                width: 3px;
                                background-color: $orangeColor;
                                left: 0;
                                top: 0;
                                transition: 0.3s;
                                z-index: -1;
                            }

                            @media screen and (max-width: 370px) {
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        .price-wrapper {
            width: 100%;
            position: relative;
            margin-top: 10px;
            border-bottom: 1px solid $darkGreenColor;
            padding-bottom: 15px;

            .price__city {
                width: 100%;
                visibility: visible;
                opacity: 1;
                transition: .3s;
                position: relative;


                .price__city_row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;

                    @media screen and (max-width: 800px) {
                        flex-direction: column;
                    }

                    .row__img {
                        width: 49%;
                        margin-top: 3px;
                        margin-bottom: 5px;

                        @media screen and (max-width: 800px) {
                            width: 100%;
                        }
                    }

                    .row__table {
                        width: 49%;

                        @media screen and (max-width: 800px) {
                            width: 100%;
                        }

                        .table__navigation {
                            width: 100%;

                            .table__navigation_list {

                                .table__navigation_item {
                                    background-color: #f7f7f7;
                                    color: $darkGreenColor;
                                    text-align: center;
                                    padding: 8px 0;
                                    font-size: 16px;
                                    line-height: 16px;
                                    cursor: pointer;
                                    transition: .3s;

                                    &:hover {
                                        background-color: $orangeColor;
                                        opacity: 0.7;
                                        color: white;
                                    }
                                }

                                .item_active {
                                    background-color: $orangeColor;
                                    color: white;

                                    &:hover {
                                        background-color: $orangeColor;
                                        opacity: 1;
                                        color: white;
                                    }
                                }
                            }
                        }

                        .price-table {
                            width: 100%;
                            border-spacing: 0px 5px;

                            thead {
                                width: 100%;

                                tr {
                                    width: 100%;

                                    th {
                                        padding: 20px 70px;
                                        background-color: #f7f7f7;
                                        font-weight: lighter;
                                        color: $orangeColor;
                                        text-transform: uppercase;
                                        font-size: 18px;

                                        @media screen and (max-width: 800px) {
                                            font-size: 16px;
                                            padding: 20px 20px;
                                        }
                                    }
                                }
                            }

                            tbody {
                                background-color: #f7f7f7;

                                tr {
                                    background-color: #f7f7f7;

                                    td {
                                        padding: 15px 0;
                                        color: $darkGreenColor;

                                        &:nth-child(1) {
                                            padding-left: 40px;
                                            font-size: 18px;

                                            @media screen and (max-width: 800px) {
                                                padding-left: 20px;
                                            }
                                        }

                                        &:nth-child(2) {
                                            font-size: 24px;
                                            padding-left: 40px;

                                            @media screen and (max-width: 800px) {
                                                font-size: 20px;
                                                padding-left: 20px;
                                            }

                                            span {
                                                font-size: 18px;

                                                @media screen and (max-width: 800px) {
                                                    font-size: 16px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .price__city_row.mtm5 {
                    .row__img {
                        @media screen and (max-width: 800px) {
                            display: none;
                        }
                    }
                }
            }

            .articles-link {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: 800px) {
                    flex-direction: column;
                    align-items: center;
                }

                .link-to-photo {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: $darkGreenColor;
                    transition: .3s;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 25px;

                    @media screen and (max-width: 1200px) {
                        padding: 0 10px;
                    }

                    &:hover {
                        color: $orangeColor;

                        .arrow-photo {
                            margin-left: 30px;
                        }
                    }

                    .arrow-photo {
                        margin-left: 20px;
                        transform: scale(0.9);
                        transition: .3s;
                    }
                }
            }

        }

        .workers-certificate {
            margin-top: 35px;

            .workers-certificate_title {
                font-size: 24px;
                color: $darkGreenColor;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: lighter;

                @media screen and (max-width: 1200px) {
                    padding: 0 10px;
                }
            }

            .showAll-sertificat {
                font-style: 16px;
                line-height: 24px;
                display: flex;
                color: $darkGreenColor;
                display: flex;
                justify-content: center;
                margin-top: 20px;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    color: $orangeColor;
                }
            }

            .certificates {
                display: flex;
                justify-content: space-between;
                margin-top: 30px;

                @media screen and (max-width: 600px) {
                    flex-wrap: wrap;
                    justify-content: space-around;
                }

                .sertificat-img {
                    width: 24%;
                    box-shadow: 3px 2px 8px -4px rgba(0, 0, 0, 0.75);
                    cursor: pointer;
                    transition: .3s;
                    max-height: 400px;

                    @media screen and (max-width: 600px) {
                        max-height: 300px;
                    }

                    &:hover {
                        transform: translate(5px, -5px);
                        box-shadow: 3px 2px 16px -4px rgba(0, 0, 0, 0.75);
                    }

                    @media screen and (max-width: 600px) {
                        width: 47%;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.overflow-hide {
    overflow: hidden !important;
}

.popUp {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    top: 0;
    transition: .3s;

    .popUp__container {
        height: 100%;
        width: 80%;
        background-color: white;
        overflow: scroll;
        position: relative;

        @media screen and (max-width: 780px) {
            width: 100%;
        }

        .container__title {
            height: 70px;
            background-color: $orangeColor;
            color: white;
            justify-content: center;
            text-align: center;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 24px;
            font-family: 'PT Sans';
            font-weight: lighter;

            @media screen and (max-width: 500px) {
                font-size: 18px;
            }

            @media screen and (max-width: 370px) {
                padding: 0 50px;
            }
        }

        .close-form_btn {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                span {
                    transform: rotate(135deg);
                }
            }

            &:active {
                span {
                    transform: rotate(135deg) scale(0.9);
                }
            }

            span {
                background-color: white;
                height: 2px;
                width: 30px;
                position: relative;
                transform: rotate(45deg);
                border-radius: 5px;
                transition: .3s;

                &:before {
                    content: '';
                    display: flex;
                    position: absolute;
                    background-color: white;
                    height: 2px;
                    width: 30px;
                    transform: rotate(90deg);
                    border-radius: 5px;
                }
            }
        }

        .container__list {
            display: flex;
            padding: 10px 20px;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
            height: 100%;

            @media screen and (max-width: 780px) {
                padding: 5px;
            }

            .container__img {
                width: 32.5%;
                margin-top: 10px;
                height: auto;

                @media screen and (max-width: 780px) {
                    width: 49%;
                }

                @media screen and (max-width: 500px) {
                    width: 100%;
                }
            }
        }
    }
}

.popUp_act {
    visibility: visible;
    opacity: 1;
    z-index: 100000;
}

.form-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    margin-top: 100px;
    pointer-events: none;
    z-index: 0;
    transition: .3s;

    .form-block {
        height: 600px;
        width: 30%;
        box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
        position: relative;
        font-family: $myPTSans;
        background-color: white;

        @media screen and (max-width: 950px) {
            height: 80vh;
            width: 50vw;
        }

        @media screen and (max-width: 650px) {
            height: 100vh;
            width: 100vw;
            top: 0;
        }

        .close-form_btn {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                span {
                    transform: rotate(135deg);
                }
            }

            &:active {
                span {
                    transform: rotate(135deg) scale(0.9);
                }
            }

            span {
                background-color: white;
                height: 2px;
                width: 30px;
                position: relative;
                transform: rotate(45deg);
                border-radius: 5px;
                transition: .3s;

                &:before {
                    content: '';
                    display: flex;
                    position: absolute;
                    background-color: white;
                    height: 2px;
                    width: 30px;
                    transform: rotate(90deg);
                    border-radius: 5px;
                }
            }
        }

        .form__title {
            color: white;
            background-color: $orangeColor;
            width: 100%;
            padding: 20px 0px;
            text-align: center;
            text-transform: uppercase;
            font-size: 24px;
            box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
        }

        .form {
            display: flex;
            flex-direction: column;
            padding: 20px 30px;
            position: relative;
            height: 100%;

            .form-label {
                color: $darkGreenColor;
                font-size: 16px;
                margin-bottom: 5px;
                margin-top: 20px;
            }

            input {
                padding: 5px 10px;
                border: none;
                border-bottom: 1px solid #a8a8a8;
                color: $darkGreenColor;
                outline: none;
                transition: .3s;
            }

            textarea {
                border: 1px solid #a8a8a8;
                border-radius: 5px;
                outline: none;
                padding: 10px;
            }

            .submit-btn {
                position: absolute;
                bottom: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                // padding: 30px;
                left: 0;
                background-color: $orangeColor;
                color: white;
                box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
                font-size: 20px;
                cursor: pointer;
                transition: .3s;
                -webkit-appearance: none;
                border-radius: 0;

                &:hover {
                    filter: brightness(105%);
                }

                @media screen and (max-width: 600px) {
                    position: fixed;
                    bottom: 0;

                    &:hover {
                        filter: brightness(100%);
                    }

                }
            }
        }
    }
}

.show-form {
    margin-top: 0px !important;
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: all !important;
    z-index: 999999;
}

.mob-hide {
    @media screen and (max-width: 800px) {
        display: none !important;
    }
}

.hide {
    visibility: hidden !important;
    opacity: 0 !important;
    position: absolute !important;
    transition: .3s;
    top: -20px !important;
    pointer-events: none;
}


// Классовые селекторы для назначения ширины в Flex контейнере

.flex_100-per {
    width: 100%;
}

.flex_80-per {
    width: 80%;
}

.flex_78-per {
    width: 78%;
}

.flex_77-per {
    width: 77%;
}

.flex_75-per {
    width: 75%;
}

.flex_70-per {
    width: 70%;
}

.flex_60-per {
    width: 60%;
}

.flex_50-per {
    width: 50%;
}

.flex_49-3-per {
    width: 49.3%;
}

.flex_49-per {
    width: 49%;
}

.flex_48-per {
    width: 48%;
}

.flex_40-per {
    width: 40%;
}

.flex_33-per {
    width: 33%;
}

.flex_32-per {
    width: 32%;
}

.flex_30-per {
    width: 30%;
}

.flex_25-per {
    width: 25%;
}

.flex_24-per {
    width: 24%;
}

.flex_23-per {
    width: 23%;
}

.flex_22-per {
    width: 22%;
}

.flex_20-per {
    width: 20%;
}



// Отступы

.mtm5 {
    margin-top: -5px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.p25 {
    // padding: 25px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.p35 {
    // padding: 25px !important;
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}

.p100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;

    @media screen and (max-width: 800px) {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}

// .p20 {
//     padding: 20px !important;
// }


::-webkit-scrollbar-button {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0;
    background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #edb056;
}

::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar {
    width: 8px;
}