* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 0 !important;
  background-color: white;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  font-family: "PTSans";
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container {
    width: 1220px;
    overflow-x: hidden;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.container .first-block {
  width: 100%;
  min-height: 315px;
  margin-top: 20px;
}

.container .first-block .fb-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr 7fr;
      grid-template-columns: 3fr 2fr 7fr;
  min-height: 320px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .first-block .fb-grid-container {
    display: -ms-grid;
    -ms-grid-columns: 3fr 2fr 7fr;
    height: 300px;
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .container .first-block .fb-grid-container {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
  }
}

@media screen and (max-width: 660px) {
  .container .first-block .fb-grid-container {
    -ms-grid-columns: (12fr)[1];
        grid-template-columns: repeat(1, 12fr);
    grid-row-gap: 5px;
  }
}

.container .first-block .fb-grid-container img {
  height: 100%;
  width: 100%;
  position: relative;
}

.container .first-block .fb-grid-container img:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

@media screen and (max-width: 800px) {
  .container .first-block .fb-grid-container img:nth-child(1) {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .container .first-block .fb-grid-container img:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    min-height: 300px;
  }
}

.container .first-block .fb-grid-container img:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .first-block .fb-grid-container img:nth-child(2) {
    margin-left: 15px;
  }
}

@media screen and (max-width: 800px) {
  .container .first-block .fb-grid-container img:nth-child(2) {
    display: none;
  }
}

.container .first-block .fb-grid-container img:nth-child(3) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .first-block .fb-grid-container img:nth-child(3) {
    margin-left: 15px;
    margin-top: 15px;
    height: 100px;
  }
}

@media screen and (max-width: 800px) {
  .container .first-block .fb-grid-container img:nth-child(3) {
    display: none;
  }
}

.container .first-block .fb-grid-container .fb-text-container {
  width: 100%;
  height: 100%;
  padding: 40px 50px 40px 50px;
  position: relative;
  background-color: #586f69;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .first-block .fb-grid-container .fb-text-container {
    margin-left: 30px;
  }
}

@media screen and (max-width: 800px) {
  .container .first-block .fb-grid-container .fb-text-container {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media screen and (max-width: 660px) {
  .container .first-block .fb-grid-container .fb-text-container {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 20px 20px 30px 20px;
  }
}

.container .first-block .fb-grid-container .fb-text-container .title {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  font-family: "PTSans";
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: lighter;
}

@media screen and (max-width: 660px) {
  .container .first-block .fb-grid-container .fb-text-container .title {
    text-align: center;
    font-size: 24px;
  }
}

.container .first-block .fb-grid-container .fb-text-container .text {
  font-size: 16px;
  color: white;
  line-height: 24px;
  font-family: "PTSerif";
  font-style: italic;
  margin-top: 20px;
  text-align: justify;
}

@media screen and (max-width: 660px) {
  .container .first-block .fb-grid-container .fb-text-container .text {
    margin-top: 15px;
  }
}

.container .second-block {
  position: relative;
  margin: 15px 0 15px 0;
  width: 100%;
}

.container .second-block .navigation-block .nav-menu .nav-menu-list {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 3fr 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-column-gap: 30px;
  list-style-type: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .second-block .navigation-block .nav-menu .nav-menu-list {
    display: -ms-grid;
    -ms-grid-columns: 3fr 3fr 3fr 3fr;
  }
}

@media screen and (max-width: 1000px) {
  .container .second-block .navigation-block .nav-menu .nav-menu-list {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .container .second-block .navigation-block .nav-menu .nav-menu-list {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    grid-row-gap: 10px;
  }
}

.container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item {
  width: 100%;
  height: 40px;
  border-left: 3px solid #edb056;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item:nth-child(1) {
    -ms-grid-column: 1;
  }
  .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item:nth-child(2) {
    margin-left: 15px;
    -ms-grid-column: 2;
  }
  .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item:nth-child(3) {
    margin-left: 30px;
    -ms-grid-column: 3;
  }
  .container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item:nth-child(4) {
    margin-left: 45px;
    -ms-grid-column: 4;
  }
}

.container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item .href-item {
  padding-left: 25px;
  color: #586f69;
  text-decoration: none;
  font-family: "PTSans";
  font-size: 16px;
  line-height: 18px;
}

.container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item:hover {
  background-color: #edb056;
}

.container .second-block .navigation-block .nav-menu .nav-menu-list .nav-list-item:hover .href-item {
  color: white;
}

.container .third-block {
  border-bottom: 1px solid #586f69;
  padding-bottom: 15px;
}

.container .third-block .tb-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8fr 4fr;
      grid-template-columns: 8fr 4fr;
  grid-column-gap: 15px;
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .third-block .tb-grid-container {
    display: -ms-grid;
    -ms-grid-columns: 8fr 4fr;
  }
}

@media screen and (max-width: 800px) {
  .container .third-block .tb-grid-container {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

@media screen and (max-width: 500px) {
  .container .third-block .tb-grid-container {
    grid-row-gap: 5px;
  }
}

.container .third-block .tb-grid-container .tb-text-block {
  background-color: #f7f7f7;
  padding: 45px 70px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .third-block .tb-grid-container .tb-text-block {
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 500px) {
  .container .third-block .tb-grid-container .tb-text-block {
    padding: 10px 20px;
  }
}

.container .third-block .tb-grid-container .tb-text-block .title {
  font-family: "PTSans";
  color: #edb056;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 500px) {
  .container .third-block .tb-grid-container .tb-text-block .title {
    text-align: center;
  }
}

.container .third-block .tb-grid-container .tb-text-block .text {
  text-align: justify;
}

.container .third-block .tb-grid-container .tb-text-block .text .par {
  margin-top: 20px;
  font-size: 16px;
  color: #586f69;
  font-family: "PTSans";
  line-height: 24px;
}

@media screen and (max-width: 500px) {
  .container .third-block .tb-grid-container .tb-text-block .text .par {
    margin-top: 15px;
  }
}

.container .third-block .tb-grid-container .tb-img-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12fr;
      grid-template-columns: 12fr;
  grid-row-gap: 15px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .third-block .tb-grid-container .tb-img-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12fr;
    -ms-grid-column: 2;
    margin-left: 15px;
  }
}

@media screen and (max-width: 500px) {
  .container .third-block .tb-grid-container .tb-img-block {
    grid-row-gap: 5px;
  }
}

.container .third-block .tb-grid-container .tb-img-block img {
  width: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .third-block .tb-grid-container .tb-img-block img:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .container .third-block .tb-grid-container .tb-img-block img:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    margin-top: 15px;
  }
}

.container .fourth-block {
  margin-top: 15px;
  border-bottom: 1px solid #586f69;
  padding-bottom: 15px;
}

.container .fourth-block .fb-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46% 54%;
      grid-template-columns: 46% 54%;
  grid-column-gap: 15px;
  grid-row-gap: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .fourth-block .fb-grid-container {
    display: -ms-grid;
    -ms-grid-columns: 5fr 7fr;
  }
}

@media screen and (max-width: 1200px) {
  .container .fourth-block .fb-grid-container {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.container .fourth-block .fb-grid-container .fb-text-container {
  background-color: #586f69;
  width: 100%;
  padding: 60px 55px 10px 55px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .fourth-block .fb-grid-container .fb-text-container {
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 500px) {
  .container .fourth-block .fb-grid-container .fb-text-container {
    padding: 10px 20px 30px 20px;
  }
}

.container .fourth-block .fb-grid-container .fb-text-container .title {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 500px) {
  .container .fourth-block .fb-grid-container .fb-text-container .title {
    text-align: center;
  }
}

.container .fourth-block .fb-grid-container .fb-text-container .text {
  text-align: justify;
  margin-top: 5px;
}

.container .fourth-block .fb-grid-container .fb-text-container .text .par {
  margin-top: 20px;
  color: white;
  line-height: 24px;
  font-size: 16px;
}

.container .fourth-block .fb-grid-container .fb-right-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12fr;
      grid-template-columns: 12fr;
  grid-row-gap: 10px;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .fourth-block .fb-grid-container .fb-right-content {
    display: -ms-grid;
    -ms-grid-columns: 12fr;
    -ms-grid-column: 2;
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .container .fourth-block .fb-grid-container .fb-right-content {
    grid-row-gap: 5px;
  }
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-content-img {
  width: 100%;
  max-height: 592px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-content-img {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-right-content-title {
  background-color: #92a9a3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: lighter;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-right-content-title {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-right-content-title {
    text-align: center;
  }
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 36.8% 63.2%;
      grid-template-columns: 36.8% 63.2%;
  grid-column-gap: 10px;
  min-height: 400px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner {
    display: -ms-grid;
    -ms-grid-columns: 4fr 8fr;
    height: 490px;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-container {
  position: relative;
  background-color: #f7f7f7;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-container {
    -ms-grid-column: 1;
    height: 490px;
  }
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-container .cleaner-img {
  position: relative;
  top: 0px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-container .cleaner-img {
    top: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-container .cleaner-name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 40px;
  font-size: 16px;
  color: #edb056;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-container .cleaner-name {
    bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-container .cleaner-name {
    bottom: 50px;
    font-size: 24px;
  }
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-property {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  padding: 35px 40px 35px 70px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-property {
    -ms-grid-column: 2;
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-property {
    padding: 10px 20px 30px 20px;
  }
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-property .property {
  margin-top: 15px;
  font-size: 16px;
  color: #edb056;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.container .fourth-block .fb-grid-container .fb-right-content .fb-bottom-cleaner .cleaner-property .property-description {
  font-size: 16px;
  color: #586f69;
}

.container .five-block {
  margin-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.container .five-block .fb-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 67% 33%;
      grid-template-columns: 67% 33%;
  grid-column-gap: 10px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .five-block .fb-grid-container {
    display: -ms-grid;
    -ms-grid-columns: 67% 33%;
  }
}

@media screen and (max-width: 670px) {
  .container .five-block .fb-grid-container {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    grid-row-gap: 5px;
  }
}

.container .five-block .fb-grid-container .fb-content-text {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  padding: 50px 60px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .five-block .fb-grid-container .fb-content-text {
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 500px) {
  .container .five-block .fb-grid-container .fb-content-text {
    padding: 10px 20px;
  }
}

.container .five-block .fb-grid-container .fb-content-text .title {
  color: #edb056;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 670px) {
  .container .five-block .fb-grid-container .fb-content-text .title {
    text-align: center;
  }
}

.container .five-block .fb-grid-container .fb-content-text .text {
  margin-top: 10px;
  color: #586f69;
  line-height: 24px;
  font-size: 16px;
  text-align: justify;
}

.container .five-block .fb-grid-container .fb-img {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .five-block .fb-grid-container .fb-img {
    -ms-grid-column: 2;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .container .five-block .fb-grid-container .fb-img {
    height: auto;
  }
}

.container .sixth-block {
  font-family: "PTSans";
  margin-bottom: 15px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .container .sixth-block {
    margin-bottom: 10px;
  }
}

.container .sixth-block .grid-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.1% 33.1% 33%;
      grid-template-columns: 33.1% 33.1% 33%;
  grid-column-gap: 10px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .sixth-block .grid-section {
    display: -ms-grid;
    -ms-grid-columns: 4fr 4fr 4fr;
  }
}

@media screen and (max-width: 1000px) {
  .container .sixth-block .grid-section {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    grid-row-gap: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .sixth-block .grid-section .items:nth-child(1) {
    -ms-grid-column: 1;
  }
  .container .sixth-block .grid-section .items:nth-child(2) {
    -ms-grid-column: 2;
    margin-left: 15px;
  }
  .container .sixth-block .grid-section .items:nth-child(3) {
    -ms-grid-column: 3;
    margin-left: 15px;
  }
}

.container .sixth-block .grid-section .items img {
  width: 100%;
}

.container .sixth-block .grid-section .items:nth-child(1) .item-content {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_rez_36.jpg);
  background-size: 100% 100%;
}

.container .sixth-block .grid-section .items:nth-child(2) .item-content {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_rez_38.jpg);
  background-size: 100% 100%;
}

.container .sixth-block .grid-section .items:nth-child(3) .item-content {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_rez_40.jpg);
  background-size: 100% 100%;
}

.container .sixth-block .grid-section .items .item-content {
  border-top: 7px solid white;
  margin-top: -5px;
  height: 100%;
  padding: 40px 50px 50px;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  .container .sixth-block .grid-section .items .item-content {
    padding: 10px 15px 20px 15px;
  }
}

.container .sixth-block .grid-section .items .item-content .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
}

.container .sixth-block .grid-section .items .item-content .text {
  color: white;
  font-size: 16px;
  margin-top: 16px;
  line-height: 24px;
}

.container .seventh-block {
  border-bottom: 1px solid #586f69;
  padding-bottom: 15px;
  overflow: hidden;
}

.container .seventh-block .sb-grid-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 67% 33%;
      grid-template-columns: 67% 33%;
  grid-column-gap: 10px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .seventh-block .sb-grid-section {
    display: -ms-grid;
    -ms-grid-columns: 67% 33%;
  }
}

@media screen and (max-width: 950px) {
  .container .seventh-block .sb-grid-section {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.container .seventh-block .sb-grid-section .sb-content-text {
  background-color: #f7f7f7;
  padding: 50px 60px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .seventh-block .sb-grid-section .sb-content-text {
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 600px) {
  .container .seventh-block .sb-grid-section .sb-content-text {
    padding: 10px 20px 30px 20px;
  }
}

.container .seventh-block .sb-grid-section .sb-content-text .title {
  color: #edb056;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 600px) {
  .container .seventh-block .sb-grid-section .sb-content-text .title {
    text-align: center;
  }
}

.container .seventh-block .sb-grid-section .sb-content-text .text {
  margin-top: 5px;
  text-align: justify;
}

.container .seventh-block .sb-grid-section .sb-content-text .text .par {
  margin-top: 15px;
  color: #586f69;
  font-size: 16px;
  line-height: 24px;
}

.container .seventh-block .sb-grid-section .sb-content-text .text .par .par-href {
  text-decoration: none;
  color: #edb056;
  -webkit-transition: .3s;
  transition: .3s;
}

.container .seventh-block .sb-grid-section .sb-content-text .text .par .par-href:hover {
  opacity: 0.5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .seventh-block .sb-grid-section .sb-img {
    -ms-grid-column: 2;
    margin-left: 10px;
  }
}

@media screen and (max-width: 950px) {
  .container .seventh-block .sb-grid-section .sb-img {
    display: none;
  }
}

.container .eight-block {
  margin-top: 15px;
}

.container .eight-block .eb-title {
  font-size: 24px;
  color: #586f69;
  text-transform: uppercase;
  width: 55%;
  font-weight: lighter;
  line-height: 36px;
}

@media screen and (max-width: 1000px) {
  .container .eight-block .eb-title {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .container .eight-block .eb-title {
    text-align: center;
  }
}

.container .eight-block .eb-grid-section {
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr;
      grid-template-columns: 4fr 8fr;
  grid-column-gap: 25px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section {
    display: -ms-grid;
    -ms-grid-columns: 4fr 8fr;
  }
}

@media screen and (max-width: 750px) {
  .container .eight-block .eb-grid-section {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.container .eight-block .eb-grid-section .eb-content-text {
  background-color: #f7f7f7;
  padding: 50px 60px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section .eb-content-text {
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 600px) {
  .container .eight-block .eb-grid-section .eb-content-text {
    padding: 10px 20px 30px 20px;
  }
}

.container .eight-block .eb-grid-section .eb-content-text .title {
  color: #edb056;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 600px) {
  .container .eight-block .eb-grid-section .eb-content-text .title {
    text-align: center;
  }
}

.container .eight-block .eb-grid-section .eb-content-text .text {
  margin-top: 5px;
  text-align: justify;
}

.container .eight-block .eb-grid-section .eb-content-text .text .par {
  margin-top: 15px;
  color: #586f69;
  font-size: 16px;
  line-height: 24px;
}

.container .eight-block .eb-grid-section .eb-steps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12fr;
      grid-template-columns: 12fr;
  grid-row-gap: 20px;
  overflow: hidden;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section .eb-steps {
    -ms-grid-column: 2;
    margin-left: 25px;
    -ms-grid-columns: 12fr;
  }
}

@media screen and (max-width: 500px) {
  .container .eight-block .eb-grid-section .eb-steps {
    grid-row-gap: 5px;
  }
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  grid-column-gap: 20px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item {
    display: -ms-grid;
    -ms-grid-columns: 3fr 9fr;
  }
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(2) {
    margin-top: 20px;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    margin-top: 20px;
  }
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(1) .steps-content-text {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_48-17.jpg);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(1) .steps-content-text {
    margin-left: 20px;
    -ms-grid-column: 2;
  }
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(2) .steps-content-text {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_48-19.jpg);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(2) .steps-content-text {
    margin-left: 20px;
    -ms-grid-column: 2;
  }
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(3) .steps-content-text {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_48-21.jpg);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(3) .steps-content-text {
    margin-left: 20px;
    -ms-grid-column: 2;
  }
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(4) .steps-content-text {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_48-23.jpg);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(4) .steps-content-text {
    margin-left: 20px;
    -ms-grid-column: 2;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(1) .steps-img {
    -ms-grid-column: 1;
  }
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(2) .steps-img {
    -ms-grid-column: 1;
  }
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(3) .steps-img {
    -ms-grid-column: 1;
  }
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item:nth-child(4) .steps-img {
    -ms-grid-column: 1;
  }
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item .steps-img {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item .steps-img {
    display: none;
  }
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item .steps-content-text {
  background-size: 100% 100%;
  position: relative;
  padding: 40px 70px;
}

@media screen and (max-width: 500px) {
  .container .eight-block .eb-grid-section .eb-steps .eb-step-item .steps-content-text {
    padding: 20px 20px 20px 30px;
  }
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item .steps-content-text .text {
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.container .eight-block .eb-grid-section .eb-steps .eb-step-item .steps-content-text .text:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #e2a459;
  height: 80px;
  width: 10px;
  left: 0;
}

.container .ninth-block {
  font-family: "PTSans";
  margin-top: 15px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .container .ninth-block {
    margin-bottom: 10px;
  }
}

.container .ninth-block .grid-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50.55% 49.45%;
      grid-template-columns: 50.55% 49.45%;
  grid-column-gap: 20px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .ninth-block .grid-section {
    display: -ms-grid;
    -ms-grid-columns: 50.55% 49.45%;
  }
}

@media screen and (max-width: 1000px) {
  .container .ninth-block .grid-section {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
    grid-row-gap: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .ninth-block .grid-section .items:nth-child(1) {
    -ms-grid-column: 1;
  }
  .container .ninth-block .grid-section .items:nth-child(2) {
    -ms-grid-column: 2;
    margin-left: 15px;
  }
  .container .ninth-block .grid-section .items:nth-child(3) {
    -ms-grid-column: 3;
    margin-left: 15px;
  }
}

.container .ninth-block .grid-section .items img {
  width: 100%;
  height: 250px;
}

@media screen and (max-width: 1000px) {
  .container .ninth-block .grid-section .items img {
    height: auto;
  }
}

.container .ninth-block .grid-section .items:nth-child(1) .item-content {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_48-26.jpg);
  background-size: 100% 100%;
}

.container .ninth-block .grid-section .items:nth-child(2) .item-content {
  background-image: url(../img/pages-name-imgs/marmoleum-cleaning/images/Article_marm_48-27.jpg);
  background-size: 100% 100%;
}

.container .ninth-block .grid-section .items .item-content {
  border-top: 7px solid white;
  margin-top: 0px;
  height: 100%;
  padding: 40px 50px 50px;
}

@media screen and (max-width: 1000px) {
  .container .ninth-block .grid-section .items .item-content {
    padding: 10px 15px 20px 15px;
  }
}

.container .ninth-block .grid-section .items .item-content .title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
}

@media screen and (max-width: 600px) {
  .container .ninth-block .grid-section .items .item-content .title {
    text-align: center;
  }
}

.container .ninth-block .grid-section .items .item-content .text {
  margin-top: 5px;
  text-align: justify;
}

.container .ninth-block .grid-section .items .item-content .text .par {
  margin-top: 20px;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.container .tenth-block {
  margin-top: 30px;
  border-top: 1px solid #586f69;
}

.container .tenth-block .tb-title {
  margin-top: 30px;
  color: #586f69;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

@media screen and (max-width: 960px) {
  .container .tenth-block .tb-title {
    text-align: center;
  }
}

.container .tenth-block .tb-grid-section {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 4fr 4fr;
      grid-template-columns: 4fr 4fr 4fr;
  grid-column-gap: 30px;
  grid-row-gap: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .tenth-block .tb-grid-section {
    display: -ms-grid;
    -ms-grid-columns: 4fr 4fr 4fr;
  }
}

@media screen and (max-width: 970px) {
  .container .tenth-block .tb-grid-section {
    -ms-grid-columns: 6fr 6fr;
        grid-template-columns: 6fr 6fr;
  }
}

@media screen and (max-width: 660px) {
  .container .tenth-block .tb-grid-section {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.container .tenth-block .tb-grid-section .clean-item {
  background-color: #f7f7f7;
  position: relative;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .tenth-block .tb-grid-section .clean-item:nth-child(1) {
    -ms-grid-column: 1;
  }
  .container .tenth-block .tb-grid-section .clean-item:nth-child(2) {
    -ms-grid-column: 2;
    margin-left: 20px;
  }
  .container .tenth-block .tb-grid-section .clean-item:nth-child(3) {
    -ms-grid-column: 3;
    margin-left: 40px;
  }
}

.container .tenth-block .tb-grid-section .clean-item:hover {
  -webkit-transform: translate(2%, -2%);
          transform: translate(2%, -2%);
  -webkit-box-shadow: -5px 5px 11px -9px #000000;
          box-shadow: -5px 5px 11px -9px #000000;
}

.container .tenth-block .tb-grid-section .clean-item .link-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container .tenth-block .tb-grid-section .clean-item .cleaner-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 8fr;
      grid-template-columns: 4fr 8fr;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .tenth-block .tb-grid-section .clean-item .cleaner-info {
    display: -ms-grid;
    -ms-grid-columns: 4fr 8fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .tenth-block .tb-grid-section .clean-item .cleaner-info img {
    -ms-grid-column: 1;
  }
}

.container .tenth-block .tb-grid-section .clean-item .cleaner-info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .tenth-block .tb-grid-section .clean-item .cleaner-info .info {
    -ms-grid-column: 2;
  }
}

.container .tenth-block .tb-grid-section .clean-item .cleaner-info .info .title {
  color: #edb056;
  font-size: 24px;
  text-transform: uppercase;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container .tenth-block .tb-grid-section .clean-item .cleaner-info .info .title {
    width: 100%;
  }
}

.container .tenth-block .tb-grid-section .clean-item .cleaner-info .info .name {
  font-size: 16px;
  font-family: "PTSerif";
  font-style: italic;
  margin-top: 15px;
  color: #586f69;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #edb056;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

@media screen and (max-width: 370px) {
  .footer {
    margin-top: 0px !important;
  }
}
/*# sourceMappingURL=uhod_marmoleum.css.map */