@import "./variables/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.section-main {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  font-family: $myPTSans;
  @include headerBg("../img/vacancy/catalog-forbo_02.jpg"); // header-block

  @media screen and (max-width: 425px) {
    margin-top: -20px;
  }

  .container {
    width: 1200px;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    .page-title-block {
      display: flex;

      @media screen and (max-width: 850px) {
        flex-direction: column;
      }

      .page-title-block__content {
        width: 65%;
        margin-top: 30px;
        padding-right: 25px;

        @media screen and (max-width: 850px) {
          width: 100%;
          padding-right: 10px;
        }

        .page-title-block__title {
          font-size: 24px;
          color: $orangeColor;
          text-transform: uppercase;
          font-weight: lighter;
          line-height: 36px;

          @media screen and (max-width: 1200px) {
            padding-left: 10px;
          }
        }

        .page-title-block__text {
          font-size: 16px;
          line-height: 24px;
          color: $darkGreenColor;
          margin-top: 12px;
          text-align: justify;
          padding-right: 35px;

          @media screen and (max-width: 1200px) {
            padding-left: 10px;
          }

          @media screen and (max-width: 850px) {
            padding-right: 0;
          }
        }

        .navigation {
          width: 100%;
          margin-top: 25px;

          @media screen and (max-width: 1000px) {
            width: 100%;
          }

          .navigation__menu {
            display: flex;
            width: 100%;
            list-style: none;
            justify-content: baseline;

            @media screen and (max-width: 500px) {
              flex-wrap: wrap;
            }

            .navigation__item {
              border-left: 5px solid $orangeColor;
              padding-left: 10px;
              height: 40px;
              padding-right: 30px;
              display: flex;
              align-items: center;
              color: $darkGreenColor;
              transition: 0.3s;
              cursor: pointer;

              @media screen and (max-width: 500px) {
                width: 50%;
                margin-top: 5px;
              }

              &:hover {
                color: white;
                background-color: $orangeColor;
                opacity: 0.7;
              }
            }

            .active-page {
              padding-left: 25px;
              color: white;
              background-color: $orangeColor;

              @media screen and (max-width: 500px) {
                padding-left: 20px;
              }

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }

      .send-resume {
        width: 35%;
        text-align: center;
        padding: 25px 35px 15px 35px;
        border-left: 1px solid $orangeColor;
        border-right: 1px solid $orangeColor;

        @media screen and (max-width: 850px) {
          width: 100%;
        }

        .email-icon {
          height: 67px;
          width: 67px;
        }

        .par {
          font-size: 16px;
          line-height: 24px;
          color: $darkGreenColor;
          margin-top: 22px;
        }

        .email-to-send {
          margin-top: 28px;

          a {
            font-size: 16px;
            color: $orangeColor;
            line-height: 16px;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .vacancy-list {
      margin-top: 10px;
      position: relative;
      overflow: hidden;

      .vacancy-item {
        position: absolute;
        top: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;

        .vacancy-description {
          display: flex;
          justify-content: space-between;

          @media screen and (max-width: 750px) {
            flex-direction: column;
          }

          .description {
            width: 35%;
            background-color: #f7f7f7;
            padding: 55px 50px;

            @media screen and (max-width: 750px) {
              width: 100%;
              order: 2;
              padding: 20px 10px;
            }

            .title {
              font-size: 18px;
              color: $orangeColor;
              text-transform: uppercase;
              line-height: 24px;
              font-weight: lighter;
              margin-bottom: 5px;
            }

            .par {
              margin-top: 12px;
              color: $darkGreenColor;
              font-size: 16px;
              line-height: 24px;

              @media screen and (max-width: 750px) {
                text-align: justify;
              }
            }
          }

          .description-img {
            width: 64.7%;
            // background-image: url('../img/vacancy/vacancy_sale.jpg');
            background-size: 100% 100%;
            height: auto;
            position: relative;

            @media screen and (max-width: 750px) {
              width: 100%;
              min-height: 300px;
              height: auto;
              order: 1;
            }
            .description-img__text {
              position: absolute;
              top: 0;
              left: 0;
              background-color: #edb056;
              color: white;
              font-size: 16px;
              padding: 10px;
            }
          }
        }

        .vacancy-cons {
          display: flex;
          justify-content: space-between;
          margin-top: 15px;

          @media screen and (max-width: 750px) {
            flex-direction: column;
            margin-top: 5px;
          }

          .vacancy-cons_icon {
            background-color: #f7f7f7;
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 750px) {
              width: 100%;
              height: auto;
              order: 1;
            }

            .icon-advantages {
              height: 190px;
              width: 260px;
            }
          }

          .vacancy-cons_description {
            width: 64.7%;
            background-color: $darkGreenColor;
            color: white;
            padding: 45px 75px;

            @media screen and (max-width: 750px) {
              width: 100%;
              order: 2;
              padding: 20px 10px;
            }

            .title {
              font-size: 24px;
              text-transform: uppercase;
              line-height: 36px;
              font-weight: lighter;
              margin-top: 20px;
              &:first-child {
                margin-top: 0;
              }
            }

            .par {
              margin-top: 12px;
              font-size: 16px;
              line-height: 24px;
              text-align: justify;
              &:first-child {
                margin-top: 20px;
              }
              span {
                color: #edb056;
              }
            }

            .cursive {
              font-family: $myPTSerif;
              font-style: italic;
            }
          }
        }

        .we-offer {
          margin-top: 55px;

          @media screen and (max-width: 1200px) {
            padding-left: 10px;
          }

          .title {
            color: $orangeColor;
            font-size: 24px;
            text-transform: uppercase;
            line-height: 36px;
          }

          .offers-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 15px;

            @media screen and (max-width: 1200px) {
              padding-left: 15px;
            }

            .offer-item {
              width: 50%;
              display: flex;
              //   align-items: center;
              padding-right: 130px;
              margin-top: 20px;

              @media screen and (max-width: 800px) {
                padding-right: 30px;
              }

              @media screen and (max-width: 600px) {
                width: 100%;
              }

              @media screen and (max-width: 500px) {
                padding-right: 10px;
              }

              .check-img {
                height: 28px;
                width: 28px;
              }

              .offer-par {
                padding-left: 45px;
                color: $darkGreenColor;
                line-height: 24px;
                font-size: 16px;
                font-family: $myPTSerif;
                font-style: italic;

                @media screen and (max-width: 500px) {
                  padding-left: 20px;
                }
              }
            }
            .mt {
              margin-top: -30px;
              @media screen and (max-width: 600px) {
                margin-top: 20px;
              }
            }
            .mt-10 {
              margin-top: -10px;
              @media screen and (max-width: 600px) {
                margin-top: 20px;
              }
            }
          }
        }

        .claim-duty {
          display: flex;
          justify-content: space-between;
          margin-top: 60px;

          @media screen and (max-width: 750px) {
            margin-top: 20px;
            flex-direction: column;
          }

          .claim {
            width: 35%;
            background-color: #f7f7f7;
            padding: 55px 50px;

            @media screen and (max-width: 750px) {
              width: 100%;
              order: 2;
              padding: 20px 10px;
            }

            .title {
              font-size: 24px;
              color: $orangeColor;
              text-transform: uppercase;
              line-height: 36px;
              font-weight: lighter;
            }

            .par {
              margin-top: 12px;
              color: $darkGreenColor;
              font-size: 16px;
              line-height: 24px;
              text-align: left;
            }
          }

          .duty {
            width: 64.7%;
            background-color: #f7f7f7;
            padding: 55px 50px;

            @media screen and (max-width: 750px) {
              width: 100%;
              order: 2;
              padding: 20px 10px;
              margin-top: 5px;
            }

            .title {
              font-size: 24px;
              color: $orangeColor;
              text-transform: uppercase;
              line-height: 36px;
              font-weight: lighter;
            }

            .par {
              margin-top: 12px;
              color: $darkGreenColor;
              font-size: 16px;
              line-height: 24px;
              text-align: justify;

              @media screen and (max-width: 750px) {
                text-align: justify;
              }
            }
          }
        }
      }
    }

    .vacancy-action {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      .vacancy-action__send {
        background-color: #edb056;
        color: white;
        outline: none;
        border: none;
        padding: 10px 30px;
        font-size: 18px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          // transform: scale(1.02);
          background-color: #586f69;
        }
        &:active {
          transform: scale(0.99);
          box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.7) inset;
          background-color: #586f69;
        }
      }
    }
    .form-container {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      margin-top: 100px;
      pointer-events: none;
      z-index: 0;
      transition: 0.3s;

      .form-block {
        height: 600px;
        width: 30%;
        box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
        position: relative;
        font-family: $myPTSans;
        background-color: white;
        // overflow: auto;
        height: auto;

        @media screen and (max-width: 950px) {
          height: 80vh;
          width: 50vw;
        }

        @media screen and (max-width: 650px) {
          height: 100vh;
          width: 100vw;
          top: 0;
        }

        .close-form_btn {
          position: absolute;
          top: 10px;
          right: 10px;
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            span {
              transform: rotate(135deg);
            }
          }

          &:active {
            span {
              transform: rotate(135deg) scale(0.9);
            }
          }

          span {
            background-color: white;
            height: 2px;
            width: 30px;
            position: relative;
            transform: rotate(45deg);
            border-radius: 5px;
            transition: 0.3s;

            &:before {
              content: "";
              display: flex;
              position: absolute;
              background-color: white;
              height: 2px;
              width: 30px;
              transform: rotate(90deg);
              border-radius: 5px;
            }
          }
        }

        .form__title {
          color: white;
          background-color: $orangeColor;
          width: 100%;
          padding: 20px 0px;
          text-align: center;
          text-transform: uppercase;
          font-size: 24px;
          box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
        }

        .form {
          height: 100%;
          div {
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            position: relative;
            .form-label {
              color: $darkGreenColor;
              font-size: 16px;
              margin-bottom: 5px;
              margin-top: 20px;
            }

            input {
              padding: 5px 10px;
              border: none;
              border-bottom: 1px solid #a8a8a8;
              color: $darkGreenColor;
              outline: none;
              transition: 0.3s;
            }

            textarea {
              border: 1px solid #a8a8a8;
              border-radius: 5px;
              outline: none;
              padding: 10px;
            }
            .form-item {
              position: relative;
              padding: 5px 0;
              .file-input {
                border: none;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                font-size: 0;
                z-index: 10;
                padding: 0;
                cursor: pointer;
              }
              .file-button {
                display: inline-flex;
                min-height: 40px;
                justify-content: center;
                align-items: center;
                background-color: #edb056;
                padding: 10px 30px;
                cursor: pointer;
                color: white;
              }
            }
          }

          .submit-btn {
            outline: navajowhite;
            border: none;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            left: 0;
            background-color: $orangeColor;
            color: white;
            box-shadow: -0.5px 0px 5px 0px rgba(0, 0, 0, 0.75);
            font-size: 20px;
            cursor: pointer;
            transition: 0.3s;
            -webkit-appearance: none;
            border-radius: 0;

            &:hover {
              filter: brightness(105%);
            }

            @media screen and (max-width: 600px) {
              position: fixed;
              bottom: 0;

              &:hover {
                filter: brightness(100%);
              }
            }
          }
        }
      }
    }
    .vacancy-finally {
      margin: 20px 0;
      padding: 10px 100px;
      text-align: center;
      width: 100%;
      border-top: 1px solid #edb056;
      border-bottom: 1px solid #edb056;
      font-size: 18px;
      line-height: 24px;
      color: $darkGreenColor;
      @media screen and (max-width: 700px) {
        padding: 10px;
      }
      a {
        color: $orangeColor;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .show-form {
      margin-top: 0px !important;
      opacity: 1 !important;
      visibility: visible !important;
      pointer-events: all !important;
      z-index: 999999;
    }

    .mob-hide {
      @media screen and (max-width: 800px) {
        display: none !important;
      }
    }

    .hide {
      visibility: hidden !important;
      opacity: 0 !important;
      position: absolute !important;
      transition: 0.3s;
      top: -20px !important;
      pointer-events: none;
    }
  }
}

.active {
  position: relative !important;
  opacity: 1 !important;
  pointer-events: all !important;
  height: auto !important;
  transition: 0.3s;
}

::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0;
  background-color: #edb056;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #edb056;
}

::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}
