* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-main {
  position: relative;
  width: 100vw;
  height: 140px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-main .top_menu_container {
  position: absolute;
  height: 45px;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #353535;
  -webkit-box-shadow: 0px 0px 8px -2px #000000;
          box-shadow: 0px 0px 8px -2px #000000;
}

.header-main .bottom_menu_container {
  position: absolute;
  height: 88px;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: #586f69;
  -webkit-box-shadow: 0px 0px 8px -2px #000000;
          box-shadow: 0px 0px 8px -2px #000000;
}

@media screen and (max-width: 425px) {
  .header-main .bottom_menu_container {
    height: 68px;
    bottom: 20px;
  }
}

.header-main .menu_content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 10fr;
      grid-template-columns: 2fr 10fr;
  -ms-grid-rows: 45px 88px;
      grid-template-rows: 45px 88px;
  grid-row-gap: 6px;
  width: 1200px;
  margin: 0 auto;
  grid-column-gap: 40px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content {
    display: -ms-grid;
    -ms-grid-columns: 2fr 10fr;
  }
}

@media screen and (max-width: 1200px) {
  .header-main .menu_content {
    width: 100vw;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content {
    grid-column-gap: 0;
  }
}

.header-main .menu_content .menu_content_top {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 45px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 3fr;
      grid-template-columns: 9fr 3fr;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_top {
    display: -ms-grid;
    -ms-grid-columns: 9fr 3fr;
    padding-left: 40px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_top {
    -ms-grid-columns: 12fr;
        grid-template-columns: 12fr;
  }
}

.header-main .menu_content .menu_content_top .menu_content_top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_top .menu_content_top-container {
    display: none;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_top .menu_content_top-container {
    display: -ms-flexbox;
    -ms-grid-column: 1;
  }
}

.header-main .menu_content .menu_content_top .menu_content_top-container .title {
  font-family: "PTSerif";
  font-style: italic;
  color: #e2d9c7;
  font-size: 16px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_top .menu_content_top-container .title {
    margin-top: 10px;
  }
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_top .menu_content_top-contacts {
    display: -ms-flexbox;
    -ms-grid-column: 2;
  }
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts .search-block {
  height: 45px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_top .menu_content_top-contacts .search-block {
    display: -ms-flexbox;
  }
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts .search-block:hover img {
  -webkit-filter: grayscale(0%) brightness(100%);
          filter: grayscale(0%) brightness(100%);
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts .search-block img {
  -webkit-filter: grayscale(100%) brightness(150%);
          filter: grayscale(100%) brightness(150%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts .email a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-family: "PTSerif";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts .email a:hover {
  color: #edb056;
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts .whatsapp {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_top .menu_content_top-contacts .whatsapp {
    display: -ms-flexbox;
  }
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts .whatsapp a:hover img {
  -webkit-filter: grayscale(0%) brightness(100%);
          filter: grayscale(0%) brightness(100%);
}

.header-main .menu_content .menu_content_top .menu_content_top-contacts .whatsapp a img {
  -webkit-filter: grayscale(100%) brightness(150%);
          filter: grayscale(100%) brightness(150%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-main .menu_content .menu_content_bottom {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  height: 45px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 3fr;
      grid-template-columns: 9fr 3fr;
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom {
    -ms-grid-columns: 10fr 2fr 0fr;
        grid-template-columns: 10fr 2fr 0fr;
  }
}

@media screen and (max-width: 450px) {
  .header-main .menu_content .menu_content_bottom {
    -ms-grid-columns: 9fr 3fr 0fr;
        grid-template-columns: 9fr 3fr 0fr;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom {
    display: -ms-grid;
    -ms-grid-columns: 9fr 3fr;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
}

.header-main .menu_content .menu_content_bottom .hamburger {
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .hamburger {
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .hamburger {
    display: block;
    -ms-grid-column: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main .menu_content .menu_content_bottom .hamburger span {
    background-color: white;
    height: 4px;
    width: 60%;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-main .menu_content .menu_content_bottom .hamburger span:after, .header-main .menu_content .menu_content_bottom .hamburger span:before {
    content: "";
    display: block;
    background-color: white;
    height: 4px;
    width: 100%;
    position: absolute;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-main .menu_content .menu_content_bottom .hamburger span:before {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .header-main .menu_content .menu_content_bottom .hamburger span:after {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .hamb-act span {
    height: 0px;
  }
  .header-main .menu_content .menu_content_bottom .hamb-act span:before {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
  .header-main .menu_content .menu_content_bottom .hamb-act span:after {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .menu_h {
    display: -ms-flexbox;
    -ms-grid-column: 1;
    padding-left: 40px;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .menu_h {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 120px;
    right: 0;
    background-color: #586f69;
    opacity: 0;
    -ms-grid-column: 3;
    grid-column: 3;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: auto;
    -webkit-box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
            box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
    overflow-x: hidden;
    padding: 10px 10px 80px 20px;
    overflow-y: scroll;
    z-index: -1;
    visibility: hidden;
    margin-bottom: 100px;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h {
    width: 100%;
    display: -ms-grid;
    display: grid;
    height: 30px;
    padding-right: 0px;
    position: relative;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h {
    display: -ms-flexbox;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .menu-list-item {
  list-style-type: none;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .menu-list-item:hover .href-item {
  color: #edb056;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .menu-list-item:hover .drop-menu-icon {
  border-top: 7px solid #edb056;
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .menu-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .menu-list-item .href-item {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  font-size: 18px;
  font-family: "PT Sans";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .menu-list-item .href-item {
    display: -ms-flexbox;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .menu-list-item .href-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
  }
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .menu-list-item .href-item .drop-menu-icon {
    margin-left: 10px;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .drop-menu {
  position: relative;
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .drop-menu {
    width: 100%;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small {
  position: absolute;
  width: 180%;
  background-color: #586f69;
  margin-left: -40px;
  margin-top: 34px;
  -webkit-box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
          box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
  padding: 0px 0px 20px 20px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 998;
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small {
    -webkit-transform: none;
            transform: none;
    height: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    margin-left: 0;
    width: 100%;
    margin-bottom: 0;
    position: relative;
    pointer-events: none;
    margin-top: 0;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item {
  list-style-type: none;
  margin-top: 10px;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item:hover .drop-href-item {
  opacity: 0.3;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item .drop-href-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: "PT Sans";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item .drop-menu__inside {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  background-color: #586f69;
  -webkit-box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
          box-shadow: inset 2px 4px 5px 0px rgba(0, 0, 0, 0.23);
  padding: 10px 20px 20px 20px;
  left: 100%;
  margin-top: -30px;
  min-width: 80%;
}

@media screen and (max-width: 1200px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item .drop-menu__inside:hover {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item .drop-menu__inside .drop-menu__inside-list {
  list-style-type: none;
  margin-top: 10px;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item .drop-menu__inside .drop-menu__inside-list .drop-menu__inside-item {
  margin-top: 10px;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item .drop-menu__inside .drop-menu__inside-list .drop-menu__inside-item:hover .drop-menu__inside-link {
  opacity: 0.3;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item .drop-menu__inside .drop-menu__inside-list .drop-menu__inside-item .drop-menu__inside-link {
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: "PT Sans";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .small .drop-menu-list-item:hover .drop-menu__inside {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big {
  position: absolute;
  background-color: white;
  width: 1200px;
  z-index: 500;
  margin-top: 34px;
  -webkit-box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.75);
  list-style: none;
  padding: 20px 30px;
  font-family: "PT Sans";
  -webkit-transform: scaleY(0) translateX(-19.4%);
          transform: scaleY(0) translateX(-19.4%);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 3;
          flex: 1 1 3;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big {
    width: 200% !important;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list {
  position: relative;
  list-style: none;
  height: 100%;
  width: 100%;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item {
  padding: 5px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .drop-href-item {
  font-size: 20px;
  color: #586f69;
  text-decoration: none;
  display: block;
}

@media screen and (min-width: 1200px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item:hover .drop-href-item {
    color: #e2a459;
    opacity: 0.5;
  }
}

@media screen and (min-width: 1200px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item:hover .second-column__container {
    opacity: 1;
    visibility: visible;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container {
  top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 30%;
  height: 100%;
  width: 70%;
  z-index: 300;
  border-left: 1px solid rgba(114, 114, 114, 0.2);
  padding: 5px 0;
  padding-left: 20px;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__name {
  padding-left: 20px;
  color: #e2a459;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__sub-name {
  padding-left: 20px;
  color: #e2a459;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 18px;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .flex-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list {
  list-style: none;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item {
  padding: 5px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 1200px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item:hover .second-column__link {
    color: #e2a459;
    opacity: 0.5;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .second-column__link {
  font-size: 18px;
  color: #586f69;
  text-decoration: none;
  display: block;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .second-column__sub-link {
  position: absolute;
  font-size: 14px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #e2a459;
  font-style: italic;
}

@media screen and (min-width: 1200px) {
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item:hover {
    opacity: 1;
    visibility: visible;
  }
  .header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item:hover .third-column__container {
    opacity: 1;
    visibility: visible;
  }
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .third-column__container {
  top: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 33%;
  width: 70%;
  z-index: 100;
  overflow: auto;
  height: 100%;
  padding: 5px 0;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .third-column__container .third-column__name {
  padding-left: 20px;
  color: #e2a459;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .third-column__container .third-column__sub-name {
  padding-left: 20px;
  color: #e2a459;
  margin-bottom: 5px;
  margin-top: 10px;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .third-column__container .third-column__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .third-column__container .third-column__list .third-column__item {
  padding: 5px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .third-column__container .third-column__list .third-column__item:hover .third-column__link {
  color: #e2a459;
  opacity: 0.5;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .big .drop-menu-list__list .drop-menu-list-item .second-column__container .second-column__list .second-column__item .third-column__container .third-column__list .third-column__item .third-column__link {
  font-size: 16px;
  color: #586f69;
  text-decoration: none;
  display: block;
}

.header-main .menu_content .menu_content_bottom .menu_h .menu-list_h .drop-menu-list-line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 10px;
  list-style-type: none;
}

.header-main .menu_content .menu_content_bottom .contact-field {
  height: 88px;
  width: 100%;
  background-color: #edb056;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 30px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .contact-field {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .contact-field {
    display: -ms-flexbox;
  }
}

@media screen and (max-width: 1160px) {
  .header-main .menu_content .menu_content_bottom .contact-field {
    padding: 0 15px 0 30px;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .contact-field {
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .header-main .menu_content .menu_content_bottom .contact-field {
    padding-left: 5px;
    height: 68px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .contact-field {
    -ms-grid-column: 2;
    margin-top: 7px;
    margin-left: 10px;
  }
}

.header-main .menu_content .menu_content_bottom .contact-field .numbers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12fr;
      grid-template-columns: 12fr;
  grid-row-gap: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers {
    display: -ms-grid;
    -ms-grid-columns: 12fr;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-main .menu_content .menu_content_bottom .contact-field .numbers .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  grid-column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row {
    display: -ms-grid;
    -ms-grid-columns: 3fr 9fr;
  }
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row:nth-child(1) {
    -ms-grid-row: 1;
  }
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row:nth-child(2) {
    -ms-grid-row: 2;
  }
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row:nth-child(3) {
    -ms-grid-row: 3;
  }
}

.header-main .menu_content .menu_content_bottom .contact-field .numbers .row .city {
  font-size: 14px;
  font-family: "PT Sans";
  color: white;
}

@media screen and (max-width: 1080px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .city {
    font-size: 12px;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .city {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .city {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .city {
    font-size: 10px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .city:nth-child(1) {
    -ms-grid-column: 1;
  }
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .city:nth-child(2) {
    -ms-grid-column: 1;
  }
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .city:nth-child(3) {
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call {
    margin-left: 20px;
  }
}

@media screen and (max-width: 450px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call {
    margin-left: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call:nth-child(1) {
    -ms-grid-column: 2;
  }
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call:nth-child(2) {
    -ms-grid-column: 2;
  }
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call:nth-child(3) {
    -ms-grid-column: 2;
  }
}

.header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call .telephone {
  font-size: 14px;
  font-family: "PT Sans";
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1080px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call .telephone {
    font-size: 12px;
  }
}

@media screen and (max-width: 960px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call .telephone {
    font-size: 16px;
  }
}

@media screen and (max-width: 450px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call .telephone {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  .header-main .menu_content .menu_content_bottom .contact-field .numbers .row .call .telephone {
    font-size: 10px;
  }
}

.header-main .menu_content .logo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: white;
  height: 140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 425px) {
  .header-main .menu_content .logo {
    height: 120px;
  }
}

.header-main .menu_content .logo .back-to-index {
  text-decoration: none;
  text-align: center;
}

.header-main .menu_content .logo .back-to-index img {
  height: 100px;
  width: 135px;
}

.header-main .menu_content .logo .back-to-index .logo__text {
  color: #586f69;
  font-size: 14px;
  text-align: center;
  margin-top: -10px;
  font-family: "PTSerif", sans-serif;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .header-main .menu_content .logo .back-to-index .logo__text {
    font-size: 12px;
  }
}

.drop-menu-icon {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.drop-menu_open {
  -webkit-transform: scaleY(1) translateX(-19.4%) !important;
          transform: scaleY(1) translateX(-19.4%) !important;
  opacity: 1 !important;
}

.drop-menu-width-300 {
  width: 300% !important;
}

@media screen and (max-width: 960px) {
  .drop-menu-width-300 {
    width: 100% !important;
  }
}

.search-act {
  opacity: 1 !important;
  z-index: 99999999 !important;
  pointer-events: all !important;
}

.mobile-menu_show {
  opacity: 1 !important;
  width: 80% !important;
  z-index: 9000 !important;
  visibility: visible !important;
}

.mobile-drop-menu_show {
  position: relative !important;
  height: auto !important;
  opacity: 1 !important;
  width: 100% !important;
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
  margin-bottom: 20px !important;
  pointer-events: all !important;
  margin-top: 10px !important;
}

@media screen and (max-width: 500px) {
  .mobile-drop-menu_show {
    width: 200% !important;
  }
}

.overflow-hidden {
  overflow-y: hidden !important;
}

@media screen and (max-width: 450px) {
  .padding-bottom {
    padding-bottom: 50px;
  }
}

.ya-site-form {
  position: fixed !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
  pointer-events: none;
}

.ya-site-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 425px) {
  .ya-site-form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.ya-site-form form .input-area {
  border: none;
  border-bottom: 3px solid #edb056;
  background-color: transparent;
  width: 70%;
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "PT Sans";
  outline: none;
  text-align: center;
  color: #586f69;
}

@media screen and (max-width: 425px) {
  .ya-site-form form .input-area {
    width: 90%;
    font-size: 32px;
  }
}

.ya-site-form form .submit-btn {
  background-image: url(../../../included_files/img/search-orange.svg);
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: none;
  background-size: 100% 100%;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .ya-site-form form .submit-btn {
    margin-left: 0;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=headerr.css.map */