
.articles {
    order: 4;
    @include flex(flex-start, center, row, wrap);
    width: 100%;
    transition: $transition;
    overflow: hidden;
    @media screen and (max-width: $mobile) {
        margin-top: 0;
    }
}

.articles__handler {
    display: none;

    @media screen and (max-width: $mobile) {
        position: relative;
        height: 50px;
        width: 100%;
        @include flex();
        border-top: 3px solid $green;
        border-bottom: 3px solid $green;

        &:active {
            border-top: 3px solid $primary;
            border-bottom: 3px solid $primary;
            background-color: $primary;

            .articles__handler-text {
                color: white;
            }

            .articles__handler-icon {
                svg {
                    fill: white;
                }
            }
        }
    }
}

.articles__handler-text {
    font-size: 16px;
    color: $green;
}

.articles__handler-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: $transition;
    svg {
        fill: $green;
        height: 20px;
        width: 20px;
    }

    &--active {
        transform: translateY(-50%) rotate(0deg);
    }
}

.articles__container {
    width: 100%;
    transition: $transition;
    margin-top: 20px;

    @media screen and (max-width: $mobile) {
        margin-top: 0;
        padding: 0 16px;
        max-height: 5000px;
    }
}

.articles__title {
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: $green;
    font-weight: lighter;
}

.articles__filters {
    margin-top: 20px;
    @include flex(space-between);

    @media screen and (max-width: $mobile) {
        @include flex(flex-start, flex-start, column, wrap);
    }
}

.filters__colors {
    @include flex(flex-start);
    margin-left: 5px;
    @media screen and (max-width: $mobile) {
        width: 100%;
        @include flex(flex-start, center, row, wrap)
    }
}

.filter__text {
    font-size: 16px;
    color: $green;
    margin: 0 15px 15px 0;
}

.color__item {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    margin-left: 15px;
    transition: $transition;
    opacity: 0.7;
    cursor: pointer;

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 120%;
        width: 120%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid transparent;
        border-radius: 50%;
    }

    &:hover {
        opacity: 1;
    }

    &--active {
        opacity: 1;
        &::before {
            border: 2px solid $primary;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    @media screen and (max-width: $mobile) {
        margin: 0 15px 15px 0;
        height: 35px;
        width: 35px;
    }
}

.filters__width {
    @include flex(flex-start);
    @media screen and (max-width: $mobile) {
        width: 100%;
        @include flex(flex-start, center, row, wrap)
    }
}

.width__item {
    background-color: $greyExtraLight;
    border: none;
    color: #403533;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: $transition;

    &:hover {
        opacity: 0.7;
    }

    &--active {
        background-color: $primary;
        color: white;
        &:hover {
            opacity: 1;
        }
    }

    @media screen and (max-width: $mobile) {
        margin: 0 10px 10px 0;
        padding: 8px 0;
        width: 65px;
        text-align: center;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid #CBCBCB;

        &:hover {
            opacity: 1;
        }

        &--active {
            border: 2px solid $primary;
            color: #403533;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.articles__list {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 20px;
    max-height: 230px;
    overflow: hidden;
    transition: $transition;
    margin-bottom: 10px;

    @media screen and (max-width: $tablet) {
        grid-template-columns: repeat(3, 4fr);
        max-height: 480px;
    }

    @media screen and (max-width: $mobile) {
        grid-template-columns: repeat(2, 6fr);
        max-height: 620px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

.articles__item {
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        .item__info {
            bottom: -70px;
        }
    }

    @media screen and (max-width: $mobile) {
        height: 200px;
    }
}

.item__highslide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.item__image {
    height: 100%;
    width: 100%;
}

.item__info {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba($color: #FFFFFF, $alpha: 0.6);
    @include flex(center, center, column, wrap);
    transition: $transition;
}

.item__number, .item__name {
    color: #403533;
    font-size: 18px;
}

.item__name {
    font-family: "PTSerif";
    font-style: italic;
}

.item__videoIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;

    svg {
        fill: white;
        width: 100%;
        height: 100%;
    }
}

.articles__more-container {
    display: flex;
    margin: 0 0 20px 0;
    @include flex(flex-end, center);        

    &--disabled {
        display: none;
    }
}

.articles__more-button {
    @include flex(center, center);
    cursor: pointer;

    &:hover {
        .articles__more-text {
            color: $primary;
        }

        .articles__more-icon {
            svg {
                fill: $primary;
            }
        }
    }
}

.articles__more-text {
    font-size: 16px;
    color: $green;
    margin-right: 10px;
    transition: $transition;
}

.articles__more-icon {
    transform: rotate(180deg);
    transition: $transition;
    svg {
        fill: $green;
        transition: $transition;
    }

    &--active {
        transform: rotate(0deg);
    }
}

// highslide

.highslide-credits {
    display: none !important;
}