.main {
  width: 100%;
  @include flex(center, center, column, wrap);
}

.main__container {
  @include commonContainer();
  margin-top: 20px;

  @media screen and (max-width: $mobile) {
    margin-top: 0;
  }
}