<?php header("Content-Type:text/html;charset=utf-8");?>
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Marmoleum real</title>
    <meta name="theme-color" content="#FFFFFF" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta
      name="ostrio-domain"
      content="ZhOIxO5PnDi1javHchcyVqGShmLxMeiY15iOiZkyTV_"
    />
    <link
      rel="shortcut icon"
      href="img/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="highslide/highslide.css" />
  </head>
  <body>
    <main class="main">
      <div class="main__container">
        <section class="images">
          <div class="images__container">
            <div
              class="images__mainImage"
              style="
                background-image: url('./img/assets/forbo/marmoleum/real/images/1.jpg');
              "
            ></div>
            <div
              class="images__videoImage"
              style="
                background-image: url('./img/assets/forbo/marmoleum/real/images/2.jpg');
              "
            ></div>
            <div class="images__groupImages">
              <div
                class="images__formImage"
                style="
                  background-image: url('./img/assets/forbo/marmoleum/real/images/3.jpg');
                "
              >
                <div class="images__formImageOpacity">
                  <div class="images__formImageOpacityIcon">
                    <svg
                      width="24"
                      height="24"
                      xmlns="http://www.w3.org/2000/svg"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                    >
                      <path
                        d="M11 11v-11h1v11h11v1h-11v11h-1v-11h-11v-1h11z"
                      ></path>
                    </svg>
                  </div>
                  <p class="images__formImageOpacityText">
                    ЗАКАЗАТЬ<br />ЭТОТ МАТЕРИАЛ
                  </p>
                </div>
              </div>
              <a
                class="images__linkImage"
                href="/fotogal.htm"
                style="
                  background-image: url('./img/assets/forbo/marmoleum/real/images/4.jpg');
                "
                ><div class="images__linkImageOpacity">
                  <div class="images__linkImageOpacityIcon">
                    <svg
                      width="24"
                      height="24"
                      xmlns="http://www.w3.org/2000/svg"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                    >
                      <path
                        d="M11 11v-11h1v11h11v1h-11v11h-1v-11h-11v-1h11z"
                      ></path>
                    </svg>
                  </div>
                  <p class="images__linkImageOpacityText">
                    СМОТРЕТЬ ВСЕ<br />РЕАЛИЗОВАННЫЕ<br />ПРОЕКТЫ
                  </p>
                </div></a
              >
              <div class="images__nameBlock">
                <p class="images__nameBlockText">Marmoleum Real</p>
              </div>
            </div>
          </div>
        </section>
        <section class="about">
          <div class="about__container">
            <div class="about__text-shadow about__text-shadow--active"></div>
            <p class="about__vertical-text">Характеристики</p>
            <div class="about__header">
              <h1 class="about__title">
                Натуральный линолеум <br />marmoleum real
              </h1>
              <a class="about__to-articles" href="#articles"
                ><div class="about__to-articles-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"
                    ></path>
                  </svg>
                </div>
                <span class="about__to-articles-text"
                  >Смотреть артикулы</span
                ></a
              >
            </div>
            <div class="about__content">
              <p>
                Marmoleum Real (Мармолеум Реал)&nbsp;— это одна из&nbsp;наиболее
                популярных коллекций натурального линолеума в&nbsp;России.
                Рисунок мрамора, которая состоит только из&nbsp;натуральных
                компонентов.
              </p>
              <p>
                Благодаря своим техническим характеристикам и&nbsp;свойствам,
                натуральный линолеум Мармолеум Реал Форбо станет чудесным
                решением для дома, детских дошкольных учреждений, помещений
                учебных заведений. Антибактериальные свойства гарантируют
                безопасность материала для здоровья и&nbsp;окружающей среды, что
                позволяет использовать натуральный линолеум Marmoleum Real
                в&nbsp;помещениях медицинских учреждений, госпиталей
                и&nbsp;больниц.
              </p>
              <p>
                Натуральный линолеум Мармолеум Реал под мрамор обладает широкой
                цветовой гаммой и&nbsp;выпускается в&nbsp;33 цветовых оттенках,
                от&nbsp;классических приглушенных до&nbsp;ярких
                и&nbsp;насыщенных, которые позволяют сформировать оригинальный
                интерьер, сочетая различные стили.
              </p>
              <p>
                Натуральный линолеум Marmoleum Real под мрамор устойчив
                к&nbsp;химическим веществам и&nbsp;средствам бытовой химии,
                благодаря чему поверхность натурального напольного покрытия
                Форбо легко содержать в&nbsp;чистоте, это позволяет продлить
                срок службы покрытия и&nbsp;в&nbsp;течение многих лет сохранить
                его безупречный внешний вид.
              </p>
              <p>
                Натуральный линолеум Мармолеум Реал не&nbsp;теряет свой
                первоначальный внешний вид от&nbsp;воздействия колесиков кресел,
                а&nbsp;также ножек мебели.
              </p>
            </div>
          </div>
          <div class="about__more">
            <p class="about__more-text">читать далее</p>
            <div class="about__more-icon">
              <svg
                width="19"
                height="11"
                viewBox="0 0 19 11"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.5 9.17939e-07L0.406732 10.5L18.5933 10.5L9.5 9.17939e-07Z"
                ></path>
              </svg>
            </div>
          </div>
        </section>
        @@include("../blocks/modules/collection/articles/articles.html")
        @@include("../blocks/modules/collection/table/table.html")
        @@include("../blocks/modules/collection/willNeed/willNeed.html")
        @@include("../blocks/modules/collection/information/information.html")
        @@include("../blocks/modules/collection/videoModal/videoModal.html")
      </div>
      @@include("../blocks/modules/footer/footer.html")
    </main>
    <script defer src="js/main.js"></script>
    <script defer src="highslide/highslide.js"></script>
  </body>
</html>
