.sertificates {
    display: none;

    @media screen and (max-width: $mobile) {
        @include flex(center, center, column, wrap);
        order: 6;
        width: 100%;
        margin-top: 0;
    }

}

.sertificates__handler {
    display: none;

    @media screen and (max-width: $mobile) {
        position: relative;
        height: 60px;
        width: 100%;
        @include flex();
        border-top: 3px solid $green;
       
        &:active {
            border-top: 3px solid $primary;
            background-color: $primary;

            .sertificates__handler-text {
                color: white;
            }

            .sertificates__handler-icon {
                svg {
                    fill: white;
                }
            }
        }

        &--active {
            border-bottom: 3px solid $green;

            &:active {
                border-bottom: 3px solid $primary;
            }
            .sertificates__handler-icon {
                transform: translateY(-50%) rotate(0deg);
            }
        }
    }
}

.sertificates__handler-text {
    font-size: 16px;
    color: $green;
}

.sertificates__handler-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: $transition;
    svg {
        fill: $green;
        height: 20px;
        width: 20px;
    }
}

.sertificates__container {
    @include flex(space-between, flex-start);
    transition: $transition;
    overflow: hidden;
    width: 100%;

    @media screen and (max-width: $mobile) {
        max-height: 0;
    }
}

.information__sertificateItem {
    @include flex(flex-start, center);
    cursor: pointer;
    margin: 20px 0;

    &:hover {
        .information__sertificateItemIcon {
            background-color: $green;
        }

        .information__sertificateItemText {
            color: $green;
        }
    }

    @media screen and (max-width: $mobile) {
        @include flex(center, center);
        width: 50%;
    }
}

.information__sertificateItemIcon {
    @include flex();
    background-color: $primary;
    height: 23px;
    width: 25px;
    transition: $transition;

    svg {
        fill: white;
        height: 50%;
        width: 50%;
        transform: rotate(90deg);
    }
}

.information__sertificateItemText {
    font-size: 16px;
    margin-left: 15px;
    color: $primary;
    transition: $transition;
}