.images {
    order: 1;
    @include flex(flex-start, center, column, wrap);
    width: 100%;
    margin-bottom: 10px;

    @media screen and (max-width: $mobile) {
        order: 1;
        margin-bottom: 0;
    }

}

.images__container {
    transition: $transition;
    overflow: hidden;
    width: 100%;
    @include flex(flex-start, center, row, nowrap);
    height: 430px;
    @media screen and (max-width: $mobile) {
        height: 320px;
    }
}

.images__mainImage {
    height: 100%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: $mobile) {
        width: 100%
    }
}

.images__videoImage {
    height: 100%;
    margin-left: 10px;
    width: 16%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    transition: $transition;
    cursor: pointer;

    &:hover {
        background-size: 105% 105%;
    }

    &:active {
        .images__videoImageOpacityIcon {
            height: 60px;
            width: 60px;
        }
    }

    @media screen and (max-width: $mobile) {
        display: none;
    }
}

.images__videoImageOpacity {
    position: relative;
    height: 40%;
    width: 100%;
    top: 100%;
    transform: translateY(-100%);
    background-color: rgba($color: white, $alpha: 0.5);
    @include flex();
}

.images__videdoImageOpacityText {
    font-size: 20px;
    color: $green;
    user-select: none;
}

.images__videoImageOpacityIcon {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 70px;
    background-color: $primary;
    border-radius: 50%;
    @include flex();
    transition: $transition;

    svg {
        fill: white;
        height: 50%;
        width: 50%;
    }
}

.images__groupImages {
    height: 100%;
    width: calc(34% - 12px);
    margin-left: 10px;
    @include flex(space-between, flex-start, row, wrap);

    @media screen and (max-width: $mobile) {
        display: none;
    }
}

.images__linkImage, .images__formImage {
    width: calc(50% - 5px);
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    transition: $transition;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        background-size: 105% 105%;
    }

    &:active {
        .images__linkImageOpacityIcon, .images__formImageOpacityIcon {
            height: 65px;
            width: 65px;

            svg {
                margin-left: 13px;
                margin-bottom: 2px;
            }
        }
    }
}

.images__linkImageOpacity, .images__formImageOpacity {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba($color: white, $alpha: 0.5);
    @include flex(flex-start, flex-end, row, nowrap);
    padding: 20px;
}

.images__linkImageOpacityText, .images__formImageOpacityText {
    font-size: 16px;
    color: $green;
    user-select: none;
}

.images__linkImageOpacityIcon, .images__formImageOpacityIcon {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(40%, -40%);
    height: 70px;
    width: 70px;
    background-color: $primary;
    border-radius: 50%;
    @include flex(flex-start, flex-end);
    transition: $transition;

    svg {
        fill: white;
        height: 50%;
        width: 50%;
        margin-left: 15px;
        transition: $transition;
    }
}

.images__nameBlock {
    height: calc(40% - 10px);
    margin-top: 10px;
    width: 100%;
    background-color: #5a5456;
    @include flex();
}

.images__nameBlockText {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}