.arrow-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    transform: rotate(180deg);
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url(../../img/icons/arrow-down.svg);
    background-position: center;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: .3s;
}

@media screen and (max-width: 1200px) {
    .arrow-to-top {
        left: 10px;
        bottom: 20px;
    }
}

.show-arrow {
    opacity: 1;
    visibility: visible;
    z-index: 20;
}