.share {
    background-color: transparent;
    width: 50px;
    height: 300px;
    position: fixed;
    right: 25px;
    top: 50%;
    margin-top: -150px;
    z-index: 10;
}

.share__icon-bg {
    display: none;
}

.share__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.button {
    outline: none;
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    transition: .3s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.97);
}

.share__icon-social {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .share {
        display: flex;
        top: 10px;
        margin-top: 0;
        left: 10px;
        justify-content: space-between;
        height: 50px;
        width: 100%;
    }

    .share__icon-bg {
        display: flex;
        background-color: rgba(255, 255, 255, 0.7);
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .share__icon {
        height: 25px;
        width: 25px;
    }

    .share__list {
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
        margin-right: 10px;
        margin-top: -70px;
        transition: .3s;
    }

    .share__list_act {
        margin-top: 0;
    }
}