.table {
    order: 3;
    @include flex(flex-start, center, column, wrap);
    width: calc(50% - 5px);

    @media screen and (max-width: $mobile) {
        width: 100%;
        order: 5;
    }
}

.table__handler {
    display: none;

    @media screen and (max-width: $mobile) {
        position: relative;
        height: 60px;
        width: 100%;
        @include flex();
        border-top: 3px solid $green;

        &:active {
            border-top: 3px solid $primary;
            background-color: $primary;

            .table__handler-text {
                color: white;
            }

            .table__handler-icon {
                svg {
                    fill: white;
                }
            }
        }
        
        &--active {
            border-bottom: 3px solid $green;

            &:active {
                border-bottom: 3px solid $primary;
            }
            .table__handler-icon {
                transform: translateY(-50%) rotate(0deg);
            }
        }
    }
}

.table__handler-text {
    font-size: 16px;
    color: $green;
}

.table__handler-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: $transition;
    svg {
        fill: $green;
        height: 20px;
        width: 20px;
    }
}

.table__wrapper {
    width: 100%;
    @include flex(flex-start, flex-start, row, wrap);
    transition: $transition;

    @media screen and (max-width: $mobile) {
        max-height: 0;
        overflow: hidden;
    }
}

.table__container {
    width: 100%;
    @include flex(flex-start, flex-start, row, wrap);
    max-height: 350px;
    overflow: hidden;
    transition: $transition;
}

.table__header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-column-gap: 10px;

    @media screen and (max-width: $mobile) {
        grid-column-gap: 0px;
    }
}

.table__headerItem {
    width: 100%;
    @include flex(flex-start, flex-start, row, wrap);

    &:nth-child(2) {
        .table__headerValue {
            &--hover {
                cursor: pointer;
                &:hover {
                    background-color: $primary;
                    color: white;
            
                    .table__headerValueIconContainer {
                        svg {
                            fill: white;
                        }
                    }
                }
            }
        }
    }
}

.table__headerName {
    @include flex();
    color: white;
    background-color: $green;
    height: 55px;
    width: 100%;
    text-align: center;
    @media screen and (max-width: $mobile) {
      padding: 0 5px;
    }
}

.table__headerValue {
    position: relative;
    @include flex();
    color: $green;
    background-color: $greyExtraLight;
    height: 55px;
    width: 100%;
    transition: $transition;
    
}

.table__headerValueIconContainer {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: rotate(180deg) translateX(50%);
    height: 8px;
    width: 20px;

    svg {
        fill: $green;
        height: 100%;
        width: 100%;
        transition: $transition;
    }
}

.table__headerValueList {
    position: absolute;
    top: 100%;
    width: 100%;
    transition: $transition;
    max-height: 0;
    overflow: hidden;
    z-index: 5;
}

.table__headerValueListItem {
    position: relative;
    @include flex();
    color: $green;
    background-color: $greyExtraLight;
    height: 55px;
    width: 100%;
    transition: $transition;

    &:hover {
        background-color: $primary;
        color: white;
        opacity: 0.7;
    }
}

.table__body {
    width: 100%;
    margin-top: 10px;
}

.table__bodyItem {
    width: 100%;
    @include flex(space-between, center, row, nowrap);
    border-bottom: 2px solid $greyExtraLight;
    padding: 10px;
}

.table__bodyName, .table__bodyValue {
    color: $green;
    font-size: 16px;
    svg {
        display: inline-block;
        fill: $green;
        height: 15px;
        width: 15px;
        cursor: pointer;
    }
}

.table__more {
    width: 100%;
    @include flex(flex-end, center, row, nowrap);
    cursor: pointer;
    margin-top: 30px;

    &:hover, &:active {
        .table__more-text {
            color: $primary;
        }

        .table__more-icon {
            svg {
                fill: $primary;
            }
        }
    }

    @media screen and (max-width: $mobile) {
        @include flex(center, center, row, nowrap);
        margin: 10px 0 20px 0;
    }
}

.table__more-text {
    font-size: 16px;
    color: #d8d8d8;
    margin-right: 10px;
    transition: $transition;
}

.table__more-icon {
    transform: rotate(180deg);
    transition: $transition;
    svg {
        fill: #d8d8d8;
        transition: $transition;
    }

    &--active {
        transform: rotate(0deg);
    }
}