* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, button {
    font-family: 'PTSans';
}

a {
    text-decoration: none;
}