.sidebar__mobileHandler {
    height: 50px;
    width: 50px;
    left: 16px;
    top: 16px;
    position: fixed;
    z-index: 35;
    border-radius: 50%;
    background-color: $primary;
    transition: $transition;
    @include flex(center, center);
    opacity: 1;
    visibility: visible;

    svg {
        fill: white;
        width: 60%;
        height: 60%;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }

    &--active {
        left: calc(100% - 66px);
    }

    &--hide {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}

.sidebar {
   position: fixed;
   width: auto;
   left: 0;
   top: 140px;
   height: 100%;
   box-shadow: 2px 5px 5px 0px rgb(0 0 0 / 18%);
   z-index: 30;
   @include flex();

    @media screen and (max-width: $tablet) {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: 0;
        z-index: -1;
        transition: $transition;

        &--active {
            opacity: 1;
            visibility: visible;
            z-index: 30;
        }
    }
}

.sidebar__handler {
    width: 70px;
    background-color: white;
    border-right: 2px solid $primary;
    height: 100%;
    @include flex(center, center);
    cursor: pointer;
    z-index: 25;
    
    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.sidebar__handlerText {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-size: 20px;
    color: #5d585c;
    user-select: none;
    text-transform: uppercase;
}

.sidebar__container {
    position: relative;
    height: 100%;
    width: 300px;
    background-color: white;
    margin-left: -350px;
    transition: $transition;
    padding: 40px 20px;
    z-index: 20;
    overflow: hidden;
    overflow-y: auto;

    &--active {
        margin-left: 0;
    }

    @media screen and (max-width: $tablet) {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
}

.sidebar__containerIcon {
    position: absolute;
    left: 85%;
    top: 10px;
    cursor: pointer;
    transition: $transition;

    svg {
        fill: $primary;
    }

    &:hover {
        opacity: 0.5;
    }

    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.sidebar__contentTitleLink {
    color: $primary;
    font-size: 18px;
    transition: $transition;

    &:hover {
        opacity: 0.5;
    }
}

.sidebar__contentTitle {
    color: $primary;
    font-size: 18px;
    margin-top: 50px;
}

.sidebar__contentList {
    margin-top: 10px;
    list-style: none;
}

.sidebar__contentListItem {
    transition: $transition;
    margin-top: 5px;

    &:hover {
        .sidebar__contentListItemLink {
            color: $primary;

            &:before {
                width: 5px;
                margin-right: 10px;
            }
        }
    }
}

.sidebar__contentListItemLink {
    color: $green;
    transition: $transition;
    @include flex(flex-start, center);
    &:before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 0px;
        background-color: #f7f7f7;
        margin-right: 0px;
        transition: $transition;
    }

    &--active {
        color: $primary;

        &:before {
            width: 5px;
            margin-right: 10px;
        }
    }
}